{{> html-head}}

<div class="hcGaHeader hcMarginBottom3 ">
  <div class="hcGaHeaderLogo"></div>
  <div class="hcGaHeaderToolName">Isebel</div>
  <div class="hcGaHeaderProject">International Search Engine for Believe Legends</div>
  <div class="hcGaHeaderHelp"></div>
</div>


<div class="hcContentContainer hcMarginBottom5">

    <div class="hcResultsHeader hcMarginBottom1 hcBasicSideMargin">
      <div>{{resultsAmount}} Results</div>
      <div class="hcMarginBottom2">
        {{> comp-facet-selected}}
      </div>

      <div><select class="" name="">
        <option value="">Order by Relevance</option>
        <option value="">Order by date created</option>
      </select></div>
    </div>



    <div class="hcList hcBasicSideMargin hcMarginBottom2" onclick="javascript:location.href='{{linkResultPage}}.html'">


        {{#each results}}
          {{> list-items/list-isebel-searchresults }}
        {{/each}}
    </div>
    {{> comp-pagination}}


</div>







{{> html-footer}}
