{{> html-head}}

{{>custom/difor-header}}

<div class="hcContentContainer" onclick="javascript:location.href='{{linkResultPage}}.html'">
  <div class="hcBasicSideMargin hcMarginTop2  hcMarginBottom5">
    <h2>Imagesets</h2>

    <div class="hcList">
      <div class="hcListHeader">
        <div class="hcSmallTxt hcTxtColorGreyMid hcListItemLong">Name / description</div>
        <div class="hcSmallTxt hcTxtColorGreyMid">Collections</div>
        <div class="hcSmallTxt hcTxtColorGreyMid">Created by</div>
      </div>
    </div>

    <ul class="hcList">
      {{> list-items/difor-listItem f1="Egmond Gospels" f2="tywrty ertyert ty " f3="ert herthrtherthertherht"}}
      {{> list-items/difor-listItem f1="Psalter of Eleanor of Aquitaine" f2="dfgh dfgh fgfgfgh dfgh" f3="erth erth erth"}}
      {{> list-items/difor-listItem f1="Der naturen bloeme" f2="df ghdfgh dfgfgfgfgfg" f3="ghe rtherthertherth"}}
      {{> list-items/difor-listItem f1="Beatrijs" f2="w ertwertwert wertwrdfghdfghdfgh" f3=" dfgfgh fgfgdfgh"}}
      {{> list-items/difor-listItem f1="Chronicles of Jean Froissart" f2="w ertwertwert wertwrdfghdfghdfgh" f3=" dfgfgh fgfgdfgh"}}
    </ul>

  </div>
</div>


{{> html-footer}}



Egmond Gospels
Psalter of Eleanor of Aquitaine
Der naturen bloeme
Beatrijs
Chronicles of Jean Froissart
