{{> html-head}}
{{> custom/difor-header}}

<div class="hcContentContainer hcMarginBottom3">
  <div class="hcBasicSideMargin ">
    <h1>All IIIF sets</h1>

  </div>
</div>


<div class="hcContentContainer hcMarginBottom5">
  <div class="hcBasicSideMargin">

    <div class="hcList">
      <div class="hcListHeader">
        <div class="hcSmallTxt hcTxtColorGreyMid ">Label <br> <input type="text" name="" value=""></div>
        <div class="hcSmallTxt hcTxtColorGreyMid hcListItemLong">UUID <br> <input type="text" name="" value=""></div>
        <div class="hcSmallTxt hcTxtColorGreyMid hcAlignRight"><button type="button" name="button">Filter settings</button></div>
      </div>
    </div>

    <ul class="hcList">
      {{> list-items/list-difor-imageset f1="Zentralbibliothek, Ms. C 125"  f2="https://www.e-codices.unifr.ch/metadata/iiif/zbz-C0125/manifest.json" b2=true}}
      {{> list-items/list-difor-imageset f1="Zentralbibliothek, Ms. C 125"  f2="https://www.e-codices.unifr.ch/metadata/iiif/zbz-C0125/manifest.json" b2=true}}
      {{> list-items/list-difor-imageset f1="Zentralbibliothek, Ms. C 125"  f2="https://www.e-codices.unifr.ch/metadata/iiif/zbz-C0125/manifest.json" b2=true}}
      {{> list-items/list-difor-imageset f1="Zentralbibliothek, Ms. C 125"  f2="https://www.e-codices.unifr.ch/metadata/iiif/zbz-C0125/manifest.json" b2=true}}
      {{> list-items/list-difor-imageset f1="Zentralbibliothek, Ms. C 125"  f2="https://www.e-codices.unifr.ch/metadata/iiif/zbz-C0125/manifest.json" b2=true}}
      {{> list-items/list-difor-imageset f1="Zentralbibliothek, Ms. C 125"  f2="https://www.e-codices.unifr.ch/metadata/iiif/zbz-C0125/manifest.json" b2=true}}
      {{> list-items/list-difor-imageset f1="Zentralbibliothek, Ms. C 125"  f2="https://www.e-codices.unifr.ch/metadata/iiif/zbz-C0125/manifest.json" b2=true}}
      {{> list-items/list-difor-imageset f1="Zentralbibliothek, Ms. C 125"  f2="https://www.e-codices.unifr.ch/metadata/iiif/zbz-C0125/manifest.json" b2=true}}
      {{> list-items/list-difor-imageset f1="Zentralbibliothek, Ms. C 125"  f2="https://www.e-codices.unifr.ch/metadata/iiif/zbz-C0125/manifest.json" b2=true}}
    </ul>

  </div>

</div>





{{> html-footer}}
