{{> html-head}}
{{> custom/difor-header}}



<div class="hcModal">
  <div class="hcContentContainer">
    <div class="hcModelContentWrap">
      <div class="hcBasicSideMargin hc2columns hcMarginBottom2 hcMarginTop2">
        <h1>Imageset settings</h1>
        <div class="hcAlignRight"><span class="hcIcon" onclick="javascript:location.href='difor-imageset-detail.html'">{{>icon-util-close}}</span></div>
      </div>

      <div class="hcContentContainer hcBasicSideMargin hcForm">


        <div class=" hcMarginBottom2 hcAlignVertical">

          <div class="hcFormItem hcMarginBottom2">
            <label for="i1">Pretty name</label>
            <input type="text" id="i1" placeholder="">
          </div>

          <div class="hcFormItem hcMarginBottom2">
            <label for="i2">Long name/Description</label>
            <input type="text" id="i2" placeholder="">
          </div>

          <div class="hcFormItem hcMarginBottom2">
            <label for="i3">Elastic search index</label>
            <input type="text" id="i3" placeholder="">
          </div>

          <div class="hcFormItem hcMarginBottom2">
            <label for="i4">Publish</label>
             <div class="form-check"><input type="checkbox" id="publish" class="form-check-input position-static"></div>
          </div>

          <div class="hcFormItem hcMarginBottom2">
            <label for="5">License</label>
            <input type="text" id="i5" placeholder="">
          </div>

          <div class="hcFormItem hcMarginBottom2">
            <label for="i6">Public dataset</label>
             <div class="form-check"><input type="checkbox" id="publish" class="form-check-input position-static"></div>
          </div>

          <div class="hcFormItem hcMarginBottom2">
            <label for="7">Created</label>
            <input type="text" id="i7" placeholder="" value="15-1-2021 15:15:04">
          </div>

          <div class="hcFormItem hcMarginBottom2">
            <label for="8">Updated</label>
            <input type="text" id="i8" placeholder="">
          </div>

          <div class="hcFormItem hcMarginBottom2">
            <label for="i9">Deleted</label>
            <input type="text" id="i9" placeholder="">
          </div>




        </div>











      </div>



    </div>
  </div>
</div>



Pretty name
Long name/Description
Elastic search index
Publish ?
license
Public dataset
Created
15-1-2021 15:15:04
Updated
Deleted

{{> html-footer}}
