.hcFacet {
  margin-bottom: 3rem;
  max-width: 250px;
    font-size: .85rem;
}

.hcFacetItems {
  display: flex;
  flex-direction: column;

  //border-top: 1px solid #000;
  //margin-top: .2rem;
  //padding-top: .2rem;
}

.hcFacetItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hcFacetTitle {
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 700;
}

.hcFacetCount {
  //font-size: .6rem;
  color: $colorGreyMid;
}


.hcFacetSearch {
  display: flex;
  justify-content: space-between;

  input{
    border-radius: $basicBorderRadius 0 0 $basicBorderRadius;
    border-right: 0px;
  }
  button {
    border-radius: 0 $basicBorderRadius $basicBorderRadius 0 ;
  }
}


.hcSelectedFacet {
  font-size: .85rem;
  padding: .2rem .5rem;
  background-color: #e6f7f2;
  border-radius: 3px;
  margin: 0 .5rem .5rem 0;
  cursor: pointer;
}

.hcSelectedFacet:after{
  content: url(../images/icons/icon-delete.svg);
  margin-left: .3rem;
  opacity: .4;
}

.hcSelectedFacetType {
  color: rgba(#000000, 0.4);
  font-style: italic;
  margin-right: .3rem;
}
