.hcFacet {
  margin-bottom: 3rem;
  max-width: 250px;
    font-size: .85rem;
}

.hcFacetItems {
  display: flex;
  flex-direction: column;

  //border-top: 1px solid #000;
  //margin-top: .2rem;
  //padding-top: .2rem;
}

.hcFacetItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hcFacetTitle {
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 700;
}

.hcFacetCount {
  //font-size: .6rem;
  color: $colorGreyMid;
}


.hcFacetSearch {
  display: flex;
  justify-content: space-between;

  input{
    border-radius: $basicBorderRadius 0 0 $basicBorderRadius;
    border-right: 0px;
  }
  button {
    border-radius: 0 $basicBorderRadius $basicBorderRadius 0 ;
  }
}
