.hcFacet {
  margin-bottom: 3rem;
  max-width: 250px;
    font-size: .85rem;
}

.hcFacetItems {
  display: flex;
  flex-direction: column;

  //border-top: 1px solid #000;
  //margin-top: .2rem;
  //padding-top: .2rem;
}

.hcFacetItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .hcFacetItemSpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15px;

    input[type='checkbox']{
      width: 15px;
      background-color: rgb(238, 224, 144)
    }
  }
}

.hcFacetItemSelected {
  font-weight: 700;

}

.hcFacetTitle {
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hcFacetCount {
  //font-size: .6rem;
  color: $colorGreyMid;
}


.hcFacetSearch {
  display: flex;
  justify-content: space-between;

  input{
    border-radius: $basicBorderRadius 0 0 $basicBorderRadius;
    border-right: 0px;
  }
  button {
    border-radius: 0 $basicBorderRadius $basicBorderRadius 0 ;
  }
}


.hcSelectedFacet {
  font-size: .85rem;
  padding: .2rem .5rem;
  background-color: $greyLight;
  border-radius: 3px;
  margin: 0 .5rem .5rem 0;
  cursor: pointer;
}

.hcSelectedFacet:after{
  content: url(../images/icons/icon-delete.svg);
  margin-left: .3rem;
  opacity: .4;
}

.hcSelectedFacetType {
  color: rgba(#000000, 0.4);
  font-style: italic;
  margin-right: .3rem;
}


.hcFacetFilter input {
  padding: .3rem;
  font-size: .85rem;
  height: auto;
  border: 1px solid darken( $colorGreyLightBg, 4% );
}

.hcFacetFilter input::placeholder {
  font-style: italic;
  color: rgba(#000000, 0.4);
}

// needs to bee replaces by icons
.hcIconHelp img{
  width: 1.3rem;
  height: auto;
  cursor: pointer;
}


.hcFacetHelp {
  display: none;
  position: absolute;
  background-color: rgb(37, 163, 154);
  padding: .5rem;
  width: 250px;
}
