.hcFormStack {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $colorGreyLightElement;
  padding-top: $basicMargin;
  width: 100%;
}

.hcFormStack > *{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hcStackInfo {
  margin-bottom: 2rem;
  margin-right: $basicMargin;
}

@media (min-width: #{$siteBreak}) {
  .hcFormStack {
    flex-direction: row;
  }

  .hcStackInfo {
    width: calc(30% - #{$basicMargin});
  }

  .hcStackFormItems {
    width: calc(70%);
    padding-top: 1.5rem;
  }
}
