.hcFormItem {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.hcFormItem > *{
  width: 100%;
  // display: flex;
  // flex-direction: column;
}



.hcFeedbackError {
  border-bottom: 3px solid $colorDanger !important;
}

.hcFeedbackSucces {
  border-bottom: 3px solid $colorSucces !important;
}



// row
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //background-color: rgb(232, 191, 227);
}
