
$gaYellowDark: hsl(49, 99%, 44%);

.hcGaHeaderGen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0 2rem;

  >* {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // padding-top: .5rem;
    // padding-bottom: .5rem;

  }
}
.hcGaHeaderGen__Logo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  img{
    height: 60px;
    width: auto;
  }
}
.hcGaHeaderGen__ToolName {
  font-weight: 700;
  padding-right: 1rem;
    flex-grow: 1;

}

.hcGaHeaderGen__Nav {
  border-left: 1px solid $gaYellowDark;
  margin-right: 5rem;
  a {
    color: #000;
    border-right: 1px solid $gaYellowDark;
    background-color: #efc501;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: background-color .4s;
  }
  a:hover{
    background-color: $gaYellowDark;
  }

  button {
    border-right: 1px solid $gaYellowDark;
    background-color: #efc501;
    height: 100%;
    transition: background-color .4s;
  }
}

.hcGaHeader__Login {
  justify-content: flex-end;
  padding-right: 1.5rem;

  .user_icon {
      height: 1rem;
      width: auto;
      margin-right: .5rem;
      opacity: .4;
  }

  button {
    margin-left: 2rem;
  }
}

.hcGaHeader__dropdown {
  button {

    background: none;
    font-size: 18px;
    font-weight:300;
    max-height: 300px;
    height: 100%;
    color: #000;
    border-top: none;
    border-left: none;
    border-bottom: none;

    img {
      width: 8px;
      height: auto;
      transform: translateY(-5px);

    }
  }

  .hcDropList__list {
    border-top: 1px solid $gaYellowDark;
    box-shadow: 7px 7px 10px rgba(#000000, 0.2);
    a{
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid $gaYellowDark;
      max-width:300px;
      padding: .7rem .5rem;

    }

  }

}



@media (max-width: 574px) {
  .hcGaHeaderGen__Nav,  {
    border-top: 1px solid $gaYellowDark;
    flex-grow: 1;
    width: 100%;
  }

  // .hcGaHeader__dropdown {
  //   button{
  //     img {
  //       display: none;
  //     }
  //   }
  // }
}

@media (max-width: 841px) {
  .hcGaHeader__Login {
    border-top: 1px solid $gaYellowDark;
    flex-grow: 1;
    padding: .4rem;
  }
}
