.hcProductBar {
  width: 100vw;
  padding: 0 1.5rem;

  display: flex;
  justify-content: flex-start;
  background-color: rgb(73, 73, 73);
  color: #fff;

  .icon {
    width: 1rem;
    height: auto;
  }

  .logo {
    width: 3rem;
    height: auto;

    margin-left: -1rem;
  }
}

@media (min-width: #{$siteBreak}) {
  .hcProductBar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: $productBarWidth;
    overflow-y: hidden;
    height: 100vh;

    flex-direction: column;
    align-items: flex-start;


    .icon {
      width: 1.5rem;
      margin-right: 1rem;
    }

    nav {
      display: flex;
      flex-direction: column;
    }
    nav >*{
      margin-bottom: 2rem;
      width: 200px;
      color: #fff;
    }

  }
  .hcProductBar:hover {
    width: 300px;
    transition: width .4s;
  }

  .hcProductBar:hover .logo{
    width: 4rem;
    margin-left: 0rem;
    transition: all .4s;
  }


  .hcProductBar + .hcContentContainer{
    margin-left: $productBarWidth;
    width: calc(100% - #{$productBarWidth});
  }

}



@media (max-width: #{$siteBreak}) {
  .hcProductBar {
    .hcHeadSpace {
      height: auto;
    }
  }


}
