.hcTabs {
  display: flex;
  width: 100%;

  .hcSelectedTab {
      font-weight: 700;
      background-color: $hcGrey05;
  }
}




// vertical or horizontal tabs
.hcTabsVert {
  flex-direction: column;

  .hcTabLabels {
    display: flex;
    flex-direction: column;
  }

}

.hcTabsHoriz {
  flex-direction: column;

  .hcTabLabels {
    display: flex;
    flex-direction: row;

  }
}


// label and content
.hcTabLabels {
  width: 100%;
  position: relative;
  z-index: 100;
}

.hcTabAllContent{
    width: 100%;
    position: relative;
    z-index: 10;
    background-image: linear-gradient(#{$hcGrey05} , #fff 50px);
}


// responsiveness
@media (min-width: 500px) {
  .hcTabsVert {
    flex-direction: row;

    .hcTabLabels {
      width: 20%;
    }

    .hcTabAllContent{
        width: 80%;
    }
  }
}






.hcTabContent {
  width: 100%;
}



.hcTabLabel {
  cursor: pointer;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
