.hcTabs {
  display: flex;
  width: 100%;
}

.hcTabsVert {
  flex-direction: row;

  .hcTabLabels {
    display: flex;
    flex-direction: column;
  }

}

.hcTabsHoriz {
  flex-direction: column;

  .hcTabLabels {
    display: flex;
    flex-direction: row;
  }
}



.hcTabLabels {
  width: 25%;
  background-color: $colorGreyLightBg;
}

.hcTabAllContent{
    width: 75%;
}

.hcTabContent {
  width: 100%;
}



.hcTabLabel {
  cursor: pointer;
  margin-bottom: .5rem;
}

.hcTabContent {
}
