.hcTabs {
  display: flex;
  width: 100%;

  .hcSelectedTab {
      font-weight: 700;
  }
}

.hcTabsVert {
  flex-direction: row;

  .hcTabLabels {
    display: flex;
    flex-direction: column;
  }

}

.hcTabsHoriz {
  flex-direction: column;

  .hcTabLabels {
    display: flex;
    flex-direction: row;
  }
}



.hcTabLabels {
  width: 20%;
}

.hcTabAllContent{
    width: 80%;
}

.hcTabContent {
  width: 100%;
}



.hcTabLabel {
  cursor: pointer;
  padding: .5rem
}



.hcTabContent {
}
