{{> html-head}}
{{> custom/ga-header-general toolName="Dataset Browser"}}

{{> custom/ga-header-dataset-listbox}}



<div class="hcContentContainer hcMarginBottom3 hcMarginTop3">
  <div class="hcBasicSideMargin hcRowJustify">
    <a href="ga-data-browser-dataset-detail.html">{{> icons/icon_arrow_left}}Back to results</a>
    <div>
      <button type="button" name="button">RDF view</button>
      <button type="button" name="button">Show empty properties</button>
    </div>
  </div>
</div>

<main class="hcContentContainer hcMarginBottom5 hcMarginTop2">





  <div class="hcContentContainer">

    <div class="hcBasicSideMargin">
      <h2>Janus Grotius (ca1666-)</h2>
      <a href="http://data.bibliotheken.nl/doc/thes/p126674493">View source on data.bibliotheken.nl</a>
      <div class="hcStackFormItems">
        <div>
          <div>
            <div class="hcLabelBold"><img src="images/icons/icon_ga-property.png" alt="Class" class="hcGaIcon">type</div>
          </div>
          <div class="hcMarginBottom1">
            <div>Person</div>
          </div>
        </div>
        <div>
          <div>
            <div class="hcLabelBold"><img src="images/icons/icon_ga-property.png" alt="Class" class="hcGaIcon">isPrimaryTopicOf</div>
          </div>
          <div class="hcMarginBottom1">
            <div class="hcClickableBlock">
              <a href="https://data.goldenagents.org/datasets/ufab7d657a250e3461361c982ce9b38f3816e0c4b/stcn_20200226/.well-known/genid/ead3ecde194c56aad95f85842a1a0b4a_node1g3qmsuscx36028045">https://data.goldenagents.org/datasets/ufab7d657a250e3461361c982ce9b38f3816e0c4b/stcn_20200226/.well-known/genid/ead3ecde194c56aad95f85842a1a0b4a_node1g3qmsuscx36028045</a></div>
          </div>
        </div>
        <div>
          <div>
            <div class="hcLabelBold"><img src="images/icons/icon_ga-property.png" alt="Class" class="hcGaIcon">birthDate</div>
          </div>
          <div class="hcMarginBottom1">
            <div>ca1666</div>
          </div>
        </div>
        <div>
          <div>
            <div class="hcLabelBold"><img src="images/icons/icon_ga-property.png" alt="Class" class="hcGaIcon">label</div>
          </div>
          <div class="hcMarginBottom1">
            <div>Janus Grotius (ca1666-)</div>
          </div>
        </div>
        <div>
          <div>
            <div class="hcLabelBold"><img src="images/icons/icon_ga-property.png" alt="Class" class="hcGaIcon">familyName</div>
          </div>
          <div class="hcMarginBottom1">
            <div>Grotius</div>
          </div>
        </div>
        <div>
          <div>
            <div class="hcLabelBold"><img src="images/icons/icon_ga-property.png" alt="Class" class="hcGaIcon">alternateName</div>
          </div>
          <div class="hcMarginBottom1">
            <div>Johannes de Groot</div>
          </div>
        </div>
        <div>
          <div>
            <div class="hcLabelBold"><img src="images/icons/icon_ga-property.png" alt="Class" class="hcGaIcon">name</div>
          </div>
          <div class="hcMarginBottom1">
            <div>Janus Grotius</div>
          </div>
        </div>
        <div>
          <div>
            <div class="hcLabelBold"><img src="images/icons/icon_ga-property.png" alt="Class" class="hcGaIcon">givenName</div>
          </div>
          <div class="hcMarginBottom1">
            <div>Janus</div>
          </div>
        </div>
      </div>
      <div class="hcStackFormItems">
        <div>
          <div class="hcLabelBold"><img src="images/icons/icon_ga-property.png" alt="Class" class="hcGaIcon">Janus Grotius (ca1666-) appears in:</div>
          <ul class="appearsInClass">
            <li>primaryTopic: <a href="https://data.goldenagents.org/datasets/ufab7d657a250e3461361c982ce9b38f3816e0c4b/stcn_20200226/.well-known/genid/ead3ecde194c56aad95f85842a1a0b4a_node1g3qmsuscx36028045">https://data.goldenagents.org/datasets/ufab7d657a250e3461361c982ce9b38f3816e0c4b/stcn_20200226/.well-known/genid/ead3ecde194c56aad95f85842a1a0b4a_node1g3qmsuscx36028045</a></li>
            <li>author: <span class="hcClickableSpan">P.F.H.N. Janus Grotius</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>



</main>







<!-- build:js js/utilGA1.js -->
<script src="../../js/tabs.js" charset="utf-8"></script>
<script src="../../js/custom/ga/gaMa.js" charset="utf-8"></script>
<!-- endbuild -->

{{> html-footer}}
