{{> html-head}}

{{> custom/ga-header toolName="Lenticular Lenses II" projectName="Getty Frick Expiriment 2"}}


<div class="hcContentContainer hcMarginBottom4">
  <div class="hcBasicSideMargin hcAlignRight hcGaTabsLoudness1">
    <a href="">Data Selection</a>
    <a href="" class="hcSelected" >Alignment</a>
  </div>
</div>


<div class="hcContentContainer hcMarginBottom2 ">
  <div class="hcRowJustify">
    <div class="hcBasicSideMargin">
      <h3>{{>custom/ga-icon-al}} Getty & Frick vs NA:: soundex 0,85</h3>
    </div>
  </div>
</div>


<div class="hcContentContainer">
  <div class="hcTabs hcTabsHoriz hcBasicSideMargin">
    <div class="hcTabLabels">
        <div class="hcTabLabel hcRoundedCornersTop" id="tab-list-info">Info</div>
        <div class="hcTabLabel" id="tab-list-dataset">Matching settings</div>
        <div class="hcTabLabel" id="tab-list-filter">Links</div>
        <div class="hcTabLabel" id="tab-list-sample">Clusters</div>
    </div>
    <div class="hcTabAllContent hcStickOutBoxAside hcRoundedCornersTop">


      <!-- info -->
      <div class="hcTabContent hcMarginTop2 hcForm" id="tab-content-info">
        <h3>Name</h3>
        <input type="text" name="" value="" class="hcMarginBottom2">
        <h3>Description</h3>
        <textarea name="name" rows="4" class="hcMarginBottom1"></textarea>
        <button type="button" name="button">Save project</button>
      </div>



      <!-- Matching settings-->
      <div class="hcTabContent hcMarginTop2" id="tab-content-dataset">
        <h3>Sources</h3>
        <div class="hcList hcMarginBottom1">
          <div class="hcRowJustify"> <div class="">{{>custom/ga-icon-ds}} Frick experiment [type: saa_Inventory]:: Notarial Acts ONLY</div><div class="hcTxtRight"><a href="">Delete</a></div></div>
          <div class="hcRowJustify"> <div class="">{{>custom/ga-icon-ds}} GPI experiment [type: saa_Inventory]:: Notarial Acts ONLY</div><div class="hcTxtRight"><a href="">Delete</a></div> </div>
        </div>
        <button type="button" name="button">Add source</button>

        <h3 class="hcMarginTop2">Targets</h3>
        <div class="hcList hcMarginBottom1">
          <div class="hcRowJustify"> <div class="">{{>custom/ga-icon-ds}} Stadsarchief Amsterdam: Index op notarieel archief [type: saa_HuwelijkseVoorwaarden]</div><div class="hcTxtRight"><a href="">Delete</a></div></div>
          <div class="hcRowJustify"> <div class="">{{>custom/ga-icon-ds}} Stadsarchief Amsterdam: Index op notarieel archief [type: saa_Boedelscheiding]</div><div class="hcTxtRight"><a href="">Delete</a></div> </div>
          <div class="hcRowJustify"> <div class="">{{>custom/ga-icon-ds}} Stadsarchief Amsterdam: Index op notarieel archief [type: saa_Boedelinventaris]</div><div class="hcTxtRight"><a href="">Delete</a></div></div>
          <div class="hcRowJustify"> <div class="">{{>custom/ga-icon-ds}} Stadsarchief Amsterdam: Index op notarieel archief [type: saa_Testament]</div><div class="hcTxtRight"><a href="">Delete</a></div> </div>
        </div>

        <button type="button" name="button">Select target</button>
      </div>


      <div class="hcTabContent" id="tab-content-filter">33333</div>
      <div class="hcTabContent" id="tab-content-sample">444444</div>
    </div>
  </div>
</div>





<!-- build:js js/utilLL1.js -->
<script src="../../js/tabs.js" charset="utf-8"></script>
<!-- endbuild -->


{{> html-footer}}
