{{> html-head}}

{{> custom/ga-header toolName="Lenticular Lenses II" projectName=""}}


<div class="hcContentContainer hcMarginBottom4 hcMarginTop5">
  <div class="hc2columns">
    <!-- left column -->
    <div class="hcMarginBottom2 hcBasicSideMargin hcForm">
       <h3>Project name</h3>
       Start a new project to reconcile one or more datasets.
       <input type="text" name="" value="" class="hcMarginBottom2">

       <h3>Project description</h3>
       Start a new project to reconcile one or more datasets.
       <textarea name="name" rows="4" class="hcMarginBottom1"></textarea>

       <button type="button" name="button">Save project</button>
    </div>

    <!-- right column -->
    <div class="hcBasicSideMargin hcMarginBottom4">

    </div>
  </div>
</div>





{{> html-footer}}
