{{> html-head}}

{{> custom/ga-header toolName="Lenticular Lenses II" projectName="Getty Frick Expiriment 2"}}


<div class="hcContentContainer hcMarginBottom4">
  <div class="hcBasicSideMargin hcAlignRight hcGaTabsLoudness1">
    <a href="" class="hcSelected">Data Selection</a>
    <a href="">Alignment</a>
  </div>
</div>


<div class="hcContentContainer hcMarginBottom2 ">
  <div class="hcRowJustify">
    <div class="hcBasicSideMargin">
      The data selection contains the selections of datasets you will work with. <br>They can be entities with filters on them.
    </div>
  </div>

</div>


<div class="hcContentContainer hcMarginBottom5">
    <div class="hcResultsHeader hcMarginBottom1 hcBasicSideMargin">

    </div>
</div>







{{> html-footer}}
