{{> html-head}}

{{> custom/ga-header toolName="Lenticular Lenses II" projectName="Getty Frick Expiriment 2"}}


<div class="hcContentContainer hcMarginBottom4">
  <div class="hcBasicSideMargin hcAlignRight hcGaTabsLoudness1">
    <a href="" class="hcSelected">Data Selection</a>
    <a href="">Alignment</a>
  </div>
</div>


<div class="hcContentContainer hcMarginBottom2 ">
  <div class="hcRowJustify">
    <div class="hcBasicSideMargin">
      The data selection contains the selections of datasets you will work with. <br>They can be entities with filters on them.
    </div>
  </div>

</div>


<div class="hcContentContainer hcMarginBottom5 hcTabBlocks">
    <div class="hcBasicSideMargin hcTabsLabels">
      <div class="hcTab">Info</div>
      <div class="hcTab">Dataset</div>
      <div class="hcTab">Filter</div>
      <div class="hcTab">Sample</div>
      <div class="hcTab">Relation</div>
    </div>
    <div class="hcBasicSideMargin hcTabsContent">
      <div class="hcTab">
        <h3>Project name</h3>
        Start a new project to reconcile one or more datasets.
        <input type="text" name="" value="" class="hcMarginBottom2">

        <h3>Project description</h3>
        Start a new project to reconcile one or more datasets.
        <textarea name="name" rows="4" class="hcMarginBottom1"></textarea>

        <button type="button" name="button">Save project</button>
      </div>
      <div class="hcTab">Dataset</div>
      <div class="hcTab">Filter</div>
      <div class="hcTab">Sample</div>
      <div class="hcTab">Relation</div>
    </div>
</div>




{{> html-footer}}
