{{> html-head}}

{{> custom/ga-header toolName="Lenticular Lenses II" projectName="Getty Frick Expiriment 2"}}


<div class="hcContentContainer hcMarginBottom4">
  <div class="hcBasicSideMargin hcAlignRight hcGaTabsLoudness1">
    <a href="" class="hcSelected">Data Selection</a>
    <a href="">Alignment</a>
  </div>
</div>


<div class="hcContentContainer hcMarginBottom2">
  <div class="hcBasicSideMargin">
    The data selection contains the selections of datasets you will work with. <br>They can be entities with filters on them.

  </div>
</div>


<div class="hcContentContainer hcMarginBottom5">
    <div class="hcResultsHeader hcMarginBottom1 hcBasicSideMargin">
      <div><div class="hcLabel">Data selections</div></div>

      <div><select class="" name="">
        <option value="">Order by name</option>
        <option value="">Order by date updated</option>
        <option value="">Order by date create</option>
      </select></div>
    </div>



    <div class="hcList hcListDisctinctLines hcBasicSideMargin hcMarginBottom2" onclick="javascript:location.href='{{linkResultPage}}.html'">

        {{#each results}}
          {{> list-items/list-ga-data-selections }}
        {{/each}}
    </div>
    {{> comp-pagination}}


</div>







{{> html-footer}}
