{{> html-head}}

{{> custom/ga-header toolName="Lenticular Lenses II" projectName=""}}

<div class="hcContentContainer hcMarginBottom1 hcMarginTop1">
  <div class="hcBasicSideMargin hcAlignRight">
    <a href=""><button>View settings</button></a>
    <a href="">Close</a>
  </div>
</div>


<div class="hcLayoutCols112">
  <div class="hcBasicSideMargin">
    <div class="hcLabel">Source</div>
    <div class="hcList hcListDisctinctLines">

      <div class="">
        <div class="">
          <div class="">Marritje Jans</div>
          <strong>Duinkerken</strong>
          <div class="hcSmallTxt hcClrTxt_Grey">ecartico/persons/14013</div>
        </div>
      </div>

      <div class="">
        <div class="">
          <div class="">Marritje Jans</div>
          <strong>Amsterdam</strong>
          <div class="hcSmallTxt hcClrTxt_Grey">ecartico/persons/14013</div>
        </div>
      </div>

      <div class="">
        <div class="">
          <div class="">Marritje Jans</div>
          <strong>Duinkerken</strong>
          <div class="hcSmallTxt hcClrTxt_Grey">ecartico/persons/14013</div>
        </div>
      </div>

    </div>
  </div>



  <div class="hcBasicSideMargin">
    <div class="hcBasicSideMargin">
      <div class="hcLabel">Target</div>
      <div class="hcList hcListDisctinctLines">

        <div class="">
          <div class="">
            <div class="">Marritje Jans</div>
            <strong>Duinkerken</strong>
            <div class="hcSmallTxt hcClrTxt_Grey">ecartico/persons/14013</div>
          </div>
        </div>

        <div class="">
          <div class="">
            <div class="">Marritje Jans</div>
            <strong>Amsterdam</strong>
            <div class="hcSmallTxt hcClrTxt_Grey">ecartico/persons/14013</div>
          </div>
        </div>

        <div class="">
          <div class="">
            <div class="">Marritje Jans</div>
            <strong>Duinkerken</strong>
            <div class="hcSmallTxt hcClrTxt_Grey">ecartico/persons/14013</div>
          </div>
        </div>

        <div class="">
          <div class="">
            <div class="">Marritje Jans</div>
            <strong>Amsterdam</strong>
            <div class="hcSmallTxt hcClrTxt_Grey">ecartico/persons/14013</div>
          </div>
        </div>

        <div class="">
          <div class="">
            <div class="">Marritje Jans</div>
            <strong>Duinkerken</strong>
            <div class="hcSmallTxt hcClrTxt_Grey">ecartico/persons/14013</div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="hcBasicSideMargin">
    <img src="images/custom/ga-ll/ga-ll-tempNetwork.svg" alt="" style="width:auto;Height:100%">
  </div>

  </div>






{{> html-footer}}
