{{> html-head}}

{{> custom/ga-header toolName="Lenticular Lenses II" projectName=""}}


<div class="hcContentContainer hcMarginBottom4">
  <div class="hc2columns">
    <!-- left column -->
    <div class="hcMarginBottom2 hcBasicSideMargin ">
       <h2>New project</h2>
       Start a new project to reconcile one or more datasets. <br><br>
       <button type="button" name="button">New project</button>
    </div>

    <!-- right column -->
    <div class="hcBasicSideMargin hcMarginBottom4">
      <h2>Projects</h2>
      <div class="hcList hcMarginBottom4">
        <div class="">Project 1</div>
        <div class="">Project 2</div>
      </div>

      <div class="colorBgGreyLight">
        Or enter your project ID:
        <input type="text" name="" value="">
      </div>
    </div>

  </div>
</div>





{{> html-footer}}
