{{> html-head}}

{{> custom/ga-header toolName="Lenticular Lenses II" projectName=""}}


<div class="hcContentContainer hcMarginBottom4 hcMarginTop5">
  <div class="hc2columns">
    <!-- left column -->
    <div class="hcMarginBottom2 hcBasicSideMargin">
       <h2>New project</h2>
       Start a new project to reconcile one or more datasets. <br><br>
       <button type="button" name="button">New project</button>
    </div>

    <!-- right column -->
    <div class="hcBasicSideMargin hcMarginBottom4">
      <h2>Projects</h2>
      <div class="hcList hcMarginBottom4">
        <div class="">Project 1</div>
        <div class="">Project 2</div>
      </div>

      <div class="hcStickOutBox hcRoundedCorners">

        <p class="hcMarginBottom1">Or enter your project ID:</p>
        <input type="text" name="" value="" class="hcMarginBottom1">
        <button type="button" name="button">Load project</button>
      </div>
    </div>

  </div>
</div>





{{> html-footer}}
