{{> html-head}}

{{> custom/ga-header toolName="Lenticular Lenses II" projectName="Getty Frick Expiriment 2"}}


<div class="hcContentContainer hcMarginBottom3">
  <div class="hcBasicSideMargin hcAlignRight hcGaTabsLoudness1">
    <a href="" class="hcSelected">Data Selection</a>
    <a href="">Alignment</a>
  </div>
</div>


<div class="hcContentContainer hcMarginBottom3">
  <div class="hcRowJustify">
    <div class="hcBasicSideMargin">
      <h3>Logic box</h3>
    </div>
  </div>
</div>


<div class="hcContentContainer">
  <div class="hcTabs hcTabsHoriz hcBasicSideMargin">
    <div class="hcTabLabels">
        <div class="hcTabLabel hcRoundedCornersTop" id="tab-list-info">Logicbox</div>

    </div>
    <div class="hcTabAllContent hcStickOutBoxAside hcRoundedCornersTop">


      <!--tabcontent-->
      <div class="hcTabContent hcMarginTop2 hcForm" id="tab-content-info">
        <!--logic boc compoment-->
        {{> comp-logicBox}}
      </div>

    </div>
  </div>
</div>







<!-- build:js js/utilLL1.js -->
<script src="../../js/tabs.js" charset="utf-8"></script>
<!-- endbuild -->


{{> html-footer}}
