{{> html-head}}
<div class="hcMinimanFullViewport">
  {{> custom/ga-header toolName="Search the Golden Agents" projectName="" marginBottom=2 }}


  <!-- GA button bar -->
  <div class="hcBasicSideMargin hcRowJustify hcMarginBottom2">
    <div class="hcToggle">
      <button id="qb" class="hcGaTog1">Query builder</button><button id="sce" class="hcGaTog1">Sparql code editor</button>
    </div>
    <input type="image" name="" src="images/custom/ga-agent/b_toggle_Col.png" alt="Toggle interface" onclick="splitToggle()" class="hcImageButttons" id="b_splitToggle">
    <div>

      <button type="button" onclick="javascript:location.href='ga-multi-agent-modal-save.html'">Save query</button>
      <button type="button" onclick="javascript:location.href='ga-multi-agent-modal-load.html'">Load query</button>
    </div>
  </div>
  <!-- // GA button bar -->


  <!-- responsive splitscreen -->
  <main class="hcSpitscreen hcSpitscreenGa hcFlex1" id="splitGa">
    <!-- first panel: querybuilser / code editor -->
    <div class=" hcMarginBottom3 hcBasicSideMargin hcFlex1">

      <div class="hcMsg--info" id="msg01">
        <div class="hc2columns hcMarginBottom05">
          <div class="hcSmallTxt">Info</div>
          <div class="hcAlignRight"><span class="hcIcon hcIconSmall hcPointer" onclick="closeMsg()">{{>icon-util-close}}</span></div>
        </div>
        Use the blocks to build up your search query. The results will appear in the right panel.

        <div class="hc2columns hcMarginBottom05">
          <div class="hcSmallTxt"></div>
          <div class="hcSmallTxt hcTxtRight"><a href=""  onclick="closeMsg(); return:false">Skip</a></div>
        </div>

      </div>


      <div id="hcCodeEditor" class="hcGaSce">
        {{> comp-code-editor}}
        <div><button type="button" class="hcClrBg_Reward">Run query</button></div>
      </div>



      {{> custom/ga-qBuilder2}}


    </div>
    <!-- // first panel -->

    <!-- second panel: process / results -->
    <div class="hcFlex1 hcClrBg_Grey05">
      <div class="hcTabs hcTabsHoriz hcBgWhite" id="hcGaPanelRight">
        <!-- tabs header -->
        <div class="hcTabLabels">
          <div class="hcTabLabel hcRoundedCornersTop" id="tab-list-progress">Progress
            <!-- if problems during process -->
            <div class="hcIcon hcIconSmall hcMarginLeft05">{{>icon-util-caution}}
            <!-- // if problems during process -->
            </div>
          </div>
          <div class="hcTabLabel hcRoundedCornersTop" id="tab-list-results">Results</div>
          <div class="hcTabLabel hcRoundedCornersTop" id="tab-list-datasets">Datasets</div>
          <div class="hcTabLabel hcRoundedCornersTop" id="tab-list-visualisation">Visualisation</div>
        </div>
        <!-- //tabs header -->


        <!-- tabs content -->
        <div class="hcTabAllContent hcStickOutBoxAside hcClearBg hcGaPadLeft">
          <!-- Tab Progress-->
          <div class="hcTabContent hcMarginTop2 hcBasicSideMargin" id="tab-content-progress"> {{>custom/ga-MA-progress }}</div>

          <!--  Tab results-->
          <div class="hcTabContent hcMarginTop2 hcBasicSideMargin" id="tab-content-results">

            {{> custom/ga-agent-datatable}}
          </div>

          <!-- tab datasets-->
          <div class="hcTabContent hcMarginTop2 hcBasicSideMargin" id="tab-content-datasets">
            <h3>Dataset</h3>
          </div>

          <!-- tab visualisation-->
          <div class="hcTabContent hcMarginTop2 hcBasicSideMargin" id="tab-content-visualisation">
            <h3>visualisation</h3>
          </div>
        </div><!-- // tabs content -->
      </div>


    </div><!-- // second panel -->

  </main><!-- // responsive splitscreen -->



  <!-- build:js js/utilGA1.js -->
  <script src="../../js/tabs.js" charset="utf-8"></script>
  <script src="../../js/custom/ga/gaMa.js" charset="utf-8"></script>
  <!-- endbuild -->

  {{> html-footer}}
