{{> html-head}}

{{> custom/ga-header toolName="Search the Golden Agents" projectName="" marginBottom=2 }}






<div class="hcModal">
  <div class="hcContentContainer">
    <div class="hcModelContentWrap">
      <div class="hcBasicSideMargin hc2columns hcMarginBottom2 hcMarginTop2">
        <h3>Load query</h3>
        <div class="hcAlignRight"><button class="hc-subtle"><span class="hcIcon"  onclick="javascript:location.href='ga-multi-agent-search.html'">{{>icon-util-close}}</span></button></div>
      </div>


        <div class="hcList hcMarginBottom4 hcBasicSideMargin ">

          <div>
            <div>Paintings from 1700 - 1800</div>
            <div class="hcSmallTxt">w ertwertwert wert wer wert wertw ertwertw ertwertwertwertwertwertwert wertwer<br>Saved on 21-04-2021</div>
          </div>
          <div>
            <div>Buyers in Amsterdam from 1650 - 1700.</div>
            <div class="hcSmallTxt">w ertwertwert wert wgf dfgh dfghdfgh dfghdfghd fgh dfherthwrthw fgh th wrth wrthwrht wrth wrth rth wrthwrth<br>Saved on 21-04-2021</div>
          </div>
          <div>
            <div>Buyers in Amsterdam from 1700 - 1750.</div>
            <div class="hcSmallTxt">w ertwertwert wert w wrth wrthwrth wtr hw4thw 4 tw rth wrthwr thwrthw rthwrth wtrh wrth wrthw rth wrth wrthw rthw rthw rthw rth wrthwrth wrthwth<br>Saved on 21-04-2021</div>
          </div>

        </div>


    </div>
  </div>
</div>








{{> html-footer}}
