{{> html-head}}

{{> custom/ga-header toolName="Search the Golden Agents" projectName="" marginBottom=2 }}






<div class="hcModal">
  <div class="hcContentContainer">
    <div class="hcModelContentWrap">
      <div class="hcBasicSideMargin hc2columns hcMarginBottom2 hcMarginTop2">
        <h3>Save query</h3>
        <div class="hcAlignRight"><span class="hcIcon">{{>icon-util-close}}</span></div>
      </div>

      <div class="hcMarginBottom2 hcBasicSideMargin hcForm">
         <h3>Query name</h3>
         <input type="text" class="hcMarginBottom2">

         <h3>Description</h3>
         <textarea name="name" rows="4" class="hcMarginBottom1"></textarea>
         <div><button type="button" class="hcClrBg_Reward">Save query</button></div>


      </div>

    </div>
  </div>
</div>








{{> html-footer}}
