{{> html-head}}
{{> custom/ga-header-org toolName="Golden Agents"}}



<main class="gaLayout_home">
  <section class="ga_about ">
    <div class="ga_about__content hcBasicSideMargin">
      <div>
        <h1>The Golden Agents project is a sustainable research infrastructure to study relations and interactions between producers and consumers of creative goods in the Dutch Golden Age.</h1>
        <p>Read more about <a href="">the project</a> or <a href="">the infrastructure</a>.</p>

        <div class="hcMarginTop2">
          <a href="#tools" class="gaLineButton">See the tools</a>
          <a href="#datasets" class="gaLineButton">See the datasets</a>
          <a href="#onthologies" class="gaLineButton">See the onthologies</a>
          <a href="#cases" class="gaLineButton">Research cases</a>
          <a href="#papers" class="gaLineButton">Papers and presentations</a>
        </div>

      </div>


      <div class="ga-homePartners">
      </div>
    </div>



  </section>

  <section class="ga_cards hcBasicSideMargin">
    <a name="tools"></a><h2>Tools</h2>
    <div class="hcCards">
      {{> custom/ga-org-home-card
        title="Query the Golden Agents"
        p="Our Agent Tools help to build complex queries to search the datasets. It assists you in finding en searching the right dataset. You can query directly using SPARQL or use the Querybuilder, a gui to build your queries."
        l1="Query the Golden Agents"
        hr1="https://ga-wp3.sd.di.huc.knaw.nl/"
        l2="More about Agent technology"
        img="/images/ga-screen1.png"
      }}

      {{> custom/ga-org-home-card
        title="Data browser"
        p="Our Agent Tools help to build complex queries to search the datasets. It assists you in finding en searching the right dataset. You can query directly using SPARQL or use the Querybuilder, a gui to build your queries."
        l1="Browse the datasets"
        l2="more about the data browser"
        hr1="https://huc-css-util.netlify.app/ga-data-browser-all-datasets"
        img="/images/ga-screen1.png"
      }}

      {{> custom/ga-org-home-card
        title="Lenticular Lens"
        p="Our Agent Tools help to build complex queries to search the datasets. It assists you in finding en searching the right dataset. You can query directly using SPARQL or use the Querybuilder, a gui to build your queries."
        l1="Query the Golden Agents"
        img="/images/ga-screen1.png"
      }}

      {{> custom/ga-org-home-card
        title="Analiticcl"
        p="Our Agent Tools help to build complex queries to search the datasets. It assists you in finding en searching the right dataset. You can query directly using SPARQL or use the Querybuilder, a gui to build your queries."
        l1="analiticcl"
        img="/images/ga-screen1.png"
      }}


    </div>

    <a name="datasets"></a><h2>Datasets</h2>
    <div class="hcCards">
      {{> custom/ga-org-home-card
        title="CREATE: Ecartico"
        p="Our Agent Tools help to build complex queries to search the datasets. It assists you in finding en searching the right dataset. You can query directly using SPARQL or use the Querybuilder, a gui to build your queries."
        l1="Query the Golden Agents"
        img="/images/ga-screen1.png"
        isDataset=true
      }}

      {{> custom/ga-org-home-card
        title="Rijksmuseum Library (STCN part)"
        p="Our Agent Tools help to build complex queries to search the datasets. It assists you in finding en searching the right dataset. You can query directly using SPARQL or use the Querybuilder, a gui to build your queries."
        l1="Query the Golden Agents"
        img="/images/ga-screen1.png"
        isDataset=true
      }}

      {{> custom/ga-org-home-card
        title="Koninklijke Bibliotheek: STCN"
        p="Our Agent Tools help to build complex queries to search the datasets. It assists you in finding en searching the right dataset. You can query directly using SPARQL or use the Querybuilder, a gui to build your queries."
        l1="Query the Golden Agents"
        img="/images/ga-screen1.png"
        isDataset=true
      }}
    </div>

    <a name="onthologies"></a><h2>Onthologies</h2>
    <div class="hcCards">
      {{> custom/ga-org-home-card
        title="Onthologies"
        p="Our Agent Tools help to build complex queries to search the datasets. It assists you in finding en searching the right dataset. You can query directly using SPARQL or use the Querybuilder, a gui to build your queries."
        l1=""
        img=""

      }}
    </div>


    <a name="cases"></a><h2>Research cases</h2>
    <div class="hcCards">
      {{> custom/ga-org-home-card
        title="Montias Case"
        p="Probate Inventories/Semantics"
        l1="See the output"
        img=""

      }}
    </div>

    <a name="papers"></a><h2>Papers and presentations</h2>
    <div class="hcCards">
      {{> custom/ga-org-home-card
        title="Paper 1"
        p="Our Agent Tools help to build complex queries to search the datasets. It assists you in finding en searching the right dataset. You can query directly using SPARQL or use the Querybuilder, a gui to build your queries."
        l1=""
        img=""

      }}


    </div>






  </section>
</main>







  {{> html-footer}}
