<div class="hcContentContainer bgColorBrand1 hcMarginBottom5">
  <header class=" hcPageHeaderSimple hcBasicSideMargin">
    <a href="dpp-home.html" class="hcBrand">
      <div class="hcBrandLogo">Pergamon Images</div>
    </a>
    <nav>
      <a href="dpp-home.html">Data</a>
      <a href="dpp-text.html">Analyze Image</a>
      <a href="dpp-home.html">Digital Forensics</a>
      <a href="dpp-text.html">Jobs</a>
      <a href="dpp-home.html">Search</a>
      <a href="dpp-text.html">Admin</a>
      <a href="dpp-home.html">About</a>
      <a href="dpp-text.html">Logout</a>
    </nav>
  </header>
</div>
