

<app-query-result _ngcontent-dhm-c191="" _nghost-dhm-c194="" ng-reflect-agent="[object Object]" ng-reflect-active-result="[object Object]" class="ng-star-inserted" style="">
   <div _ngcontent-dhm-c194="" id="table-div">
      <div id="result-table_wrapper" class="dataTables_wrapper no-footer">

         <div class="row">
            <div class="col-sm-12 col-md-6">
               <div class="dt-buttons"> <button class="dt-button buttons-csv buttons-html5 btn btn-secondary" tabindex="0" aria-controls="result-table" type="button"><span>CSV</span></button> <button class="dt-button btn btn-secondary" tabindex="0" aria-controls="result-table" type="button"><span>XML</span></button> </div>
            </div>
            <div class="col-sm-12 col-md-6">
               <div id="result-table_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="result-table"></label></div>
            </div>
         </div>

         <div class="row">
            <div class="col sm-12 col-md-3">
               <div class="dataTables_length" id="result-table_length">
                  <label>
                     Show
                     <select name="result-table_length" aria-controls="result-table" class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                     </select>
                     entries
                  </label>
               </div>
            </div>

            <div class="col-sm-12 col-md-3">
               <div class="dataTables_info" id="result-table_info" role="status" aria-live="polite">Showing 1 to 10 of 3,108 entries</div>
            </div>

            <div class="col sm-12 col-md-6">
               <div class="dataTables_paginate paging_simple_numbers" id="result-table_paginate"><a class="paginate_button previous disabled" aria-controls="result-table" data-dt-idx="0" tabindex="-1" id="result-table_previous">← Previous</a><span><a class="paginate_button current" aria-controls="result-table" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="result-table" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="result-table" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="result-table" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="result-table" data-dt-idx="5" tabindex="0">5</a><span class="ellipsis">…</span><a class="paginate_button " aria-controls="result-table" data-dt-idx="6" tabindex="0">311</a></span><a class="paginate_button next" aria-controls="result-table" data-dt-idx="7" tabindex="0" id="result-table_next">Next →</a></div>
            </div>
         </div>


         <div class="row">
            <div class="col-sm-12">
               <table _ngcontent-dhm-c194="" id="result-table" class="table table-striped table-hover dataTable no-footer" aria-describedby="result-table_info" role="grid" >
                  <thead _ngcontent-dhm-c194="">
                     <th _ngcontent-dhm-c194="" class="ng-star-inserted"> creativeAgent </th>
                     <th _ngcontent-dhm-c194="" class="ng-star-inserted"> nameOfTheAgent </th>
                     <th _ngcontent-dhm-c194="" class="ng-star-inserted"> book </th>
                     <th _ngcontent-dhm-c194="" class="ng-star-inserted"> title </th>
                     <!--bindings={
                        "ng-reflect-ng-for-of": "[object Object],[object Object"
                        }-->

                  </thead>
                  <tbody _ngcontent-dhm-c194="">
                     <tr class="odd">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/1034" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/1034</a></td>
                        <td>Bloemaert, Hendrik</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/196" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/196</a></td>
                        <td>De getrouwen herder</td>
                     </tr>
                     <tr class="even">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/1034" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/1034</a></td>
                        <td>Hendrick Bloemaert</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/196" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/196</a></td>
                        <td>De getrouwen herder</td>
                     </tr>
                     <tr class="odd">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/10482" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/10482</a></td>
                        <td>Mostart, Daniel</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/286" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/286</a></td>
                        <td>Mariamne</td>
                     </tr>
                     <tr class="even">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/10482" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/10482</a></td>
                        <td>Mostart, Daniel</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/284" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/284</a></td>
                        <td>De getrouwen herder</td>
                     </tr>
                     <tr class="odd">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/10482" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/10482</a></td>
                        <td>Mostart, Daniel</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/285" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/285</a></td>
                        <td>De moord der onnozelen</td>
                     </tr>
                     <tr class="even">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/10482" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/10482</a></td>
                        <td>Daniel Mostaert</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/286" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/286</a></td>
                        <td>Mariamne</td>
                     </tr>
                     <tr class="odd">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/10482" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/10482</a></td>
                        <td>Daniel Mostaert</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/284" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/284</a></td>
                        <td>De getrouwen herder</td>
                     </tr>
                     <tr class="even">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/10482" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/10482</a></td>
                        <td>Daniel Mostaert</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/285" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/285</a></td>
                        <td>De moord der onnozelen</td>
                     </tr>
                     <tr class="odd">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/10769" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/10769</a></td>
                        <td>Geest, Wibrandus de</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/1606" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/1606</a></td>
                        <td>De gewaande toverij, zangspel</td>
                     </tr>
                     <tr class="even">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/10769" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/10769</a></td>
                        <td>Wybrandus de Geest</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/1606" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/1606</a></td>
                        <td>De gewaande toverij, zangspel</td>
                     </tr>
                     <tr class="odd">
                        <td class="sorting_1"><a href="http://www.vondel.humanities.uva.nl/ecartico/persons/11712" target="_blank">http://www.vondel.humanities.uva.nl/ecartico/persons/11712</a></td>
                        <td>Enden, Fanciscus van den</td>
                        <td><a href="http://www.vondel.humanities.uva.nl/onstage/plays/236" target="_blank">http://www.vondel.humanities.uva.nl/onstage/plays/236</a></td>
                        <td>Philedonius</td>
                     </tr>
                  </tbody>
               </table>
               <div id="result-table_processing" class="dataTables_processing" style="display: none;">Processing...</div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12 col-md-5">
               <div class="dataTables_info">Showing 1 to 10 of 3,108 entries</div>
            </div>
            <div class="col-sm-12 col-md-7">
               <div class="dataTables_paginate paging_simple_numbers"><a class="paginate_button previous disabled" aria-controls="result-table" data-dt-idx="0" tabindex="-1">← Previous</a><span><a class="paginate_button current" aria-controls="result-table" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="result-table" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="result-table" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="result-table" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="result-table" data-dt-idx="5" tabindex="0">5</a><span class="ellipsis">…</span><a class="paginate_button " aria-controls="result-table" data-dt-idx="6" tabindex="0">311</a></span><a class="paginate_button next" aria-controls="result-table" data-dt-idx="7" tabindex="0">Next →</a></div>
            </div>
         </div>
      </div>
   </div>
</app-query-result>
