<!-- query GA tool header -->
<div class="hcGaHeaderGen bgColorBrand1 hcMarginBottom5" >
  <div class="hcGaHeaderGen__Logo"><img src="images/logo-ga.png" alt="Golden Agents logo"></div>
  <div class="hcGaHeaderGen__ToolName">{{toolName}}</div>
  <nav class="hcGaHeaderGen__Nav">
    <a href="">About</a>
    <a href="">More tools</a>
    <a href="">Goldenagents.org</a>
  </nav>

  <div class="hcGaHeader__Login">
    <img src="images/icons/icon_user.svg" alt="" class="user_icon">
    BasD
    <button type="button" name="button">Logout</button>
  </div>
</div>
<!-- // query GA tool header -->
