<!-- query GA tool header -->
<div class="hcGaHeaderGen bgColorBrand1 hcMarginBottom5" >
  <div class="hcGaHeaderGen__Logo"><img src="images/logo-ga.png" alt="Golden Agents logo"></div>
  <div class="hcGaHeaderGen__ToolName">{{toolName}}</div>
  <nav class="hcGaHeaderGen__Nav">
    <a href="">About</a>
    <!-- <a href="">More tools</a> -->



    <div class="hcDropList hcGaHeader__dropdown">
      <button type="button" name="button" class="">More tools <img src="images/icons/icon_arrow-down.png" alt=""></button>
      <div class="hcDropList__list">
        <a href="">Dataset Browser</a>
        <a href="">Golden Agent Search</a>
        <a href="">Lenticular Lens</a>
      </div>
    </div>


    <a href="">Goldenagents.org</a>
  </nav>

  <div class="hcGaHeader__Login">
    <img src="images/icons/icon_user.svg" alt="" class="user_icon">
    BasD
    <button type="button" name="button">Logout</button>
  </div>
</div>
<!-- // query GA tool header -->
