<!-- general GA tool header -->
<header class="hcGaHeaderGen bgColorBrand1" >
  <div class="hcGaHeaderGen__Logo"><img src="images/logo-ga.png" alt="Golden Agents logo"></div>
  <div class="hcGaHeaderGen__ToolName">{{toolName}}</div>
  <nav class="hcGaHeaderGen__Nav">

    <div class="hcDropList hcGaHeader__dropdown">
      <button type="button" name="button" aria-label="open menu item" class="">About <img src="images/icons/icon_arrow-down.png" alt=""></button>
      <div class="hcDropList__list">
        <a href="https://ga.sd.di.huc.knaw.nl/" target="_blank">About this tool</a>
        <a href="https://ga-wp3.sd.di.huc.knaw.nl/" target="_blank">About the Golden Agents Project</a>
        <a href="https://www.goldenagents.org/" target="_blank">Goldenagents.org</a>
      </div>
    </div>



    <div class="hcDropList hcGaHeader__dropdown">
      <button type="button" name="button"  aria-label="open menu item" class="">More tools <img src="images/icons/icon_arrow-down.png" alt=""></button>
      <div class="hcDropList__list">
        <a href="https://ga.sd.di.huc.knaw.nl/" target="_blank">Dataset Browser<br>
          <small>Explore the Golden Agents datasets.</small></a>
        <a href="https://ga-wp3.sd.di.huc.knaw.nl/" target="_blank">Golden Agent Search<br>
          <small>Use SparQL or a querybuilder to anwser your research question. Our agents search overmultiple datasets.</small></a>
        <a href="https://lenticularlens.goldenagents.org" target="_blank">Lenticular Lens<br>
          <small>A dataset alignment tool. It offers context-dependent user-guided entity matching across multiple datasets.</small></a>
        <a href="https://github.com/proycon/analiticcl" target="_blank">Analiticcl<br>
          <small>Analiticcl is an approximate string matching or fuzzy-matching system that can be used for spelling correction or text normalisation
</small></a>
      </div>
    </div>


    <div class="hcDropList hcGaHeader__dropdown">
      <button type="button" name="button"  aria-label="open menu item" class="">Help<img src="images/icons/icon_arrow-down.png" alt=""></button>
      <div class="hcDropList__list">
        <a href="" target="_blank">Watch instruction videos</a>
        <a href="" target="_blank">Find a dataset</a>
        <a href="" target="_blank">Documentation</a>

        <a><small><em>Legend</em><br>

            <img src="images/icons/icon_ga-dataset.png" alt="Dataset icon" class="hcGaIcon">Dataset<br>
            <img src="images/icons/icon_ga-class.png" alt="Class icon" class="hcGaIcon">Class<br>
            <img src="images/icons/icon_ga-property.png" alt="Property icon" class="hcGaIcon">Property<br>
          </small>
        </a>


      </div>
    </div>

  </nav>


{{#if userInfo}}
  <div class="hcGaHeader__Login">
    <img src="images/icons/icon_user.svg" alt="" class="user_icon">
    BasD
    <button type="button" name="button"  aria-label="Log out" >Logout</button>
  </div>{{/if}}
</header>
<!-- // general GA tool header -->
