<div class="">User Agent processes query </div>
<div class="">Broker Agent receives processed query from User Agent </div>
<div class="">Broker Agent translates query </div>
<div class="">Broker Agent sends translated sub-queries to DB Agents</div>
<div class="">     Ecartic</div>
<div class="">     Onstage</div>
<div class="">Broker Agent collects 83128 statements from DB Agents</div>
<div class="">     Collected 6212 from Ecartico</div>
<div class="">     Collected 73200 from Onstage</div>
<div class="">Broker Agent executes original query on the collected data </div>
<div class="">Sending back results</div>
<div class=""></div>
