<article class="ga-org-homeCard">
  <div class="gaCardSplit">

    <div class="ga-org-homeCard-l">
      <h3>
        {{#if isDataset}}<img src="images/icons/icon_ga-dataset.png" alt="Dataset" class="hcGaIcon">{{/if}}

        {{title}}</h3>
      <p>{{p}}</p>
    </div>

    <div class="ga-org-homeCard-r"><img src="{{img}}" alt=""></div>
  </div>

  <div class="gaCardLinks hcMarginTop1">
    <a href="{{hr1}}" target="_blank" class="gaLineButton">{{l1}}</a>
    <a href="{{hr2}}">{{l2}}</a>
  </div>

</article>
