<div class="hcQBuildBlockBrowse hcRoundedCorners">
  <div class="hcMarginBottom1">who</div>
  <div class="hcMarginBottom1"><input type="text" placeholder="... type to filter"></div>
  <div class="hcList">
    <div>
      <div>everything </div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every painter</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every writer</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every collector</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every owner</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every sculptor</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every dealer</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every actor</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every painter</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every writer</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every collector</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every owner</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every sculptor</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every dealer</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every actor</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every painter</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every writer</div>
      <div class="hcFacetCount">312</div>
    </div>
    <div>
      <div>every collector</div>
      <div class="hcFacetCount">312</div>
    </div>

  </div>
</div>
