<!-- GA query builder -->
<div class="hcQueryBuilder hcQBHeight" id="hcQueryBuilder">
<div class="hcQueryBuilderRow">
  {{>custom/ga-qBuilder-block phrase="Give&nbsp;me" interact=false}}
  {{>custom/ga-qBuilder-block phrase="every&nbsp;painter" interact=true}}
  {{>custom/ga-qBuilder-block phrase="who&nbsp;has&nbsp;sold&nbsp;to" interact=true}}
  {{>custom/ga-qBuilder-block phrase="Jan&nbsp;Six (1618-700)" interact=true}}
</div>

<div class="hcQueryBuilderRow">
  {{>custom/ga-qBuilder-block phrase="and" interact=false}}
  {{>custom/ga-qBuilder-block phrase="worked&nbsp;in" interact=true}}
  {{>custom/ga-qBuilder-block phrase="Amsterdam" interact=true}}
  {{>custom/ga-qBuilder-blockChoice }}
</div>

</div>
<!-- // GA query builder -->
