<nav class="navSubMouseOver navNoList">
  <ul id="mainMenu" class="menu">
    <li id="menu-item-713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-713"><a href="http://localhost:8888/wp-ga/datasets/">Datasets</a></li>
    <li id="menu-item-743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-743"><a href="http://localhost:8888/wp-ga/testpage/">Testpage</a></li>
    <li id="menu-item-716" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-716"><a href="http://localhost:8888/wp-ga/ontologies/">Ontologies</a></li>
    <li id="menu-item-715"
      class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-715"><a
        href="http://localhost:8888/wp-ga/tools/">Tools</a>
      <ul class="sub-menu">
        <li id="menu-item-723" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-723"><a href="http://localhost:8888/wp-ga/tools/agent-technology/">Agent Technology</a></li>
        <li id="menu-item-722" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-507 current_page_item menu-item-722"><a href="http://localhost:8888/wp-ga/tools/lenticular-lens/"
            aria-current="page">Lenticular Lens</a></li>
        <li id="menu-item-724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724"><a href="http://localhost:8888/wp-ga/tools/interfaces/">Interfaces</a></li>
        <li id="menu-item-725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-725"><a href="http://localhost:8888/wp-ga/tools/analiticcl/">Analiticcl</a></li>
      </ul>
    </li>
    <li id="menu-item-668" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-668"><a href="/ga-output/presentations/">Output</a></li>
    <li id="menu-item-702" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-702"><a href="/ga-output/presentations/">Output</a>
      <ul class="sub-menu">
        <li id="menu-item-717" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-717"><a href="http://localhost:8888/wp-ga/ga-output/presentations/">Presentations</a></li>
        <li id="menu-item-718" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-718"><a href="http://localhost:8888/wp-ga/ga-output/publications/">Publications</a></li>
        <li id="menu-item-720" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-720"><a href="http://localhost:8888/wp-ga/ga-output/events/">Events</a></li>
      </ul>
    </li>
    <li id="menu-item-719" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-719"><a href="http://localhost:8888/wp-ga/staff/">People</a>
      <ul class="sub-menu">
        <li id="menu-item-721" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-721"><a href="http://localhost:8888/wp-ga/staff/organisation/">Organisation</a></li>
      </ul>
    </li>
    <li id="menu-item-714" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-714"><a href="http://localhost:8888/wp-ga/about/">About</a></li>
  </ul>
</nav>
