<!-- page footer -->
<div class="hcContentContainer bgColorBrand2">
  <div class="hc2columns hcMarginBottom3 hcMarginTop3 hcBasicSideMargin">
    <div>ISEBEL stands for International Search Engine for Believe Legends. At the moment, this search engine harvests folktales and metadata from three European regions: the Netherlands, Denmark and North-East Germany.</div>
    <div class="hcIsFooterList">
      <div>
        <div class="hcIsFooterListLogo"><img src="images/logos/logo_Meertens.png" alt=""></div>
        <div>Meertens Institute</div>
      </div>
      <div>
        <div class="hcIsFooterListLogo"><img src="images/logos/logo_ulca.png" alt=""></div>
        <div>UCLA</div>
      </div>
      <div>
        <div class="hcIsFooterListLogo"><img src="images/logos/logo_wossidlo.png" alt=""></div>
        <div>WossiDiA - University of Rostock</div>
      </div>


    </div>
  </div>
</div> <!-- / container -->
<!-- / page footer -->
