<div class="hcContentContainer hcMarginBottom2 hcMarginTop2">
  <div class="hcIsHeader hcBasicSideMargin hcRowJustify">
    <div class="hcRowLeft">
      <div class="hcIsHeaderLogo"><img src="images/logo-isebel.jpg" alt=""></div>
      <div>
        <div class="hcIsHeaderToolName">Isebel</div>
        <div class="hcIsHeaderName hcTxtColorGreyMid">International Search Engine for Believe Legends</div>
      </div>
    </div>
    <div><a href="" class="hcIsNav">Search</a><a class="hcIsNav" href="">About</a></div>
  </div>
</div>
