body {
  background-color: #fff;
  color: #3e3e3e; }

a {
  color: #0087d4; }

.colorBgGrey {
  background-color: #f6f6f6; }

.colorBgGreyLight {
  background-color: #fafafa; }

.colorBgGreyPlus {
  background-color: #dddddd; }

.hcTxtColorGreyMid {
  color: #999999; }

.bgColorBrand1 {
  background-image: none !important;
  background-color: #C43851; }

.bgColorBrand2 {
  background-image: none !important;
  background-color: #C43851;
  color: #fff; }

.bgColorBrand2 a {
  color: #fff; }

.colorBgGrey {
  background-color: rgba(7, 84, 70, 0.05) !important; }

.hcBrandLogo img {
  height: 50px; }

.hcPageHeaderSimple a {
  color: #000; }

.hcIsHeader {
  display: flex;
  flex-direction: row; }

.hcIsHeaderLogo {
  width: 40px; }

.hcIsHeaderLogo img {
  width: 100%;
  height: auto;
  margin-left: -2rem; }

.hcIsHeaderToolName {
  color: #C43851;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem; }

.hcColumnsEqual {
  column-count: 2;
  column-gap: 1rem; }

.hcTag {
  width: 15px !important;
  height: auto; }

.hcItemsStretch {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
