body {
  background-color: #fff;
  color: #3e3e3e; }

a {
  color: #0087d4; }

.colorBgGrey {
  background-color: #f6f6f6; }

.colorBgGreyPlus {
  background-color: #dddddd; }

.hcTxtColorGreyMid {
  color: #999999; }

.bgColorBrand1 {
  background-image: none !important;
  background-color: #83ffcc; }

.bgColorBrand2 {
  background-image: none !important;
  background-color: #035591;
  color: #fff; }

.bgColorBrand2 a {
  color: #fff; }

a, h1 {
  color: #035591; }

.colorBgGrey {
  background-color: rgba(223, 233, 241, 0.6) !important; }

.hcBrandLogo img {
  height: 40px; }

.hcKwic {
  border-bottom: 2px dotted #035591; }

.hcPageHeaderSimple nav a:hover {
  background-color: #035591;
  color: #fff; }
