body {
  background-color: #fff;
  color: #3e3e3e; }

a {
  color: #0087d4; }

.colorBgGrey {
  background-color: #f6f6f6; }

.hcTxtColorGreyMid {
  color: #999999; }

.bgColorBrand1 {
  background-image: -webkit-linear-gradient(25deg, #082045 40%, #082045 100%) !important; }

.colorBgGrey {
  background-color: #efefef !important; }
