body {
  background-color: #fff;
  color: #3e3e3e; }

a {
  color: #0087d4; }

.colorBgGrey {
  background-color: #f6f6f6; }

.colorBgGreyLight {
  background-color: #fbfbfb; }

.colorBgGreyPlus {
  background-color: #dddddd; }

.hcTxtColorGreyMid {
  color: #999999; }

.bgColorBrand1 {
  background-color: #082045;
  color: #fff; }

.bgColorBrand1 a {
  color: #fff; }

.colorBgGrey {
  background-color: #efefef !important; }

.hcFeedbackError {
  border-bottom: 3px solid #d06f5d !important; }

.hcFeedbackSucces {
  border-bottom: 3px solid #64a264 !important; }
