body {
  background-color: #fff;
  color: #3e3e3e;
}

a {
  color: hsl(201deg, 96%, 29%);
}

.colorBgGrey {
  background-color: rgb(246, 246, 246);
}

.colorBgGreyLight {
  background-color: hsl(0deg, 0%, 98%);
}

.colorBgGreyPlus {
  background-color: #dddddd;
}

.hcTxtColorGreyMid {
  color: hsl(0deg, 0%, 40%);
}

.bgColorBrand1 {
  background-image: -webkit-linear-gradient(25deg, #03dbe8 40%, #ddf279 100%) !important;
}

.colorBgGrey {
  background-color: #f2f2f2 !important;
}