body {
  background-color: #fff;
  color: #3e3e3e; }

a {
  color: #0087d4; }

.colorBgGrey {
  background-color: #f6f6f6; }

.colorBgGreyLight {
  background-color: #fafafa; }

.colorBgGreyPlus {
  background-color: #dddddd; }

.hcTxtColorGreyMid {
  color: #999999; }

.hcClrBg_Grey05 {
  background-color: #f2f2f2; }

.hcClrBg_Grey10 {
  background-color: #e6e6e6; }

.hcClrBg_Grey15 {
  background-color: #d9d9d9; }

.hcClrBg_Grey20 {
  background-color: #cccccc; }

.hcClrBg_Grey30 {
  background-color: #b3b3b3; }

.hcClrBg_Grey70 {
  background-color: #4d4d4d; }

.hcClrBg_Grey80 {
  background-color: #333333; }

.hcClrBg_Grey90 {
  background-color: #1a1a1a; }

.hcClrTxt {
  color: #1a1a1a; }

.hcClrTxt_Grey {
  color: gray; }

.hcClrTxt_Dark {
  color: #000; }

.bgColorBrand1 {
  background-image: none !important;
  background-color: #efc501; }

.bgColorBrand2 {
  background-image: none !important;
  background-color: #058f76;
  color: #fff; }

.bgColorBrand2 a {
  color: #fff; }

.colorBgGrey {
  background-color: rgba(7, 84, 70, 0.05) !important; }

.hcBrandLogo img {
  height: 50px; }

.hcPageHeaderSimple a {
  color: #000; }

.hcGaHeader {
  width: 100%;
  display: flex; }
  .hcGaHeader > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem; }

.hcGaHeaderLogo {
  padding-left: 0; }

.hcGaHeaderLogo img {
  width: auto;
  height: 65px; }

.hcGaHeaderToolName {
  font-weight: 700;
  border-right: 1px solid rgba(0, 0, 0, 0.16); }

.hcGaTabsLoudness1 a {
  color: #3e3e3e;
  border-bottom: 3px solid #fff;
  margin-left: 1rem; }

.hcSelected {
  font-weight: 700;
  border-bottom: 3px solid #058f76 !important; }

.hcSelectedListItem {
  background-color: #058f76;
  font-weight: 700;
  color: #fff;
  padding-left: 1rem;
  margin-left: -1rem; }

.hcleftMark {
  border-left: 5px solid #058f76 !important; }

.hcMaxhalf {
  height: 40vh !important;
  overflow-y: scroll; }

@media (min-width: 800px) {
  .hcMaxhalf {
    height: 80vh !important; }
  .hcSelectedExtend {
    margin-right: -2rem; } }

.hc-ga-icon {
  width: 1rem;
  height: 1rem;
  display: inline-block; }

.hc-ga-icon-ds {
  background-color: #3793BB; }

.hc-ga-icon-al {
  background-color: #FFAC4B; }

.hcLayoutCols122 {
  display: flex;
  flex-direction: row; }

.hcLayoutCols122 > * {
  flex: 2; }

.hcLayoutCols122 > *:first-child {
  flex: 1; }

.hcLayoutCols112 {
  display: flex;
  flex-direction: row; }

.hcLayoutCols112 > * {
  flex: 1; }

.hcLayoutCols122 > *:last-child {
  flex: 3; }

.hcVerticalLineSeperator > * {
  border-right: 1px solid #d9d9d9; }

.hcVerticalLineSeperator > *:last-child {
  border-right: none; }
