body {
  background-color: #fff;
  color: #3e3e3e;
}

a {
  color: #086391;
}

a .hcIconLinkColor {
  fill: #086391;
}

.colorBgGrey {
  background-color: #f6f6f6;
}

.colorBgGreyLight {
  background-color: #fafafa;
}

.colorBgGreyPlus {
  background-color: #dddddd;
}

.hcTxtColorGreyMid {
  color: #666666;
}

.bgColorBrand1 {
  background-image: -webkit-linear-gradient(25deg, #03dbe8 40%, #ddf279 100%) !important;
}

.colorBgGrey {
  background-color: #f2f2f2 !important;
}