body {
  background-color: #fff;
  color: #3e3e3e; }

a {
  color: #0087d4; }

.colorBgGrey {
  background-color: #f6f6f6; }

.colorBgGreyLight {
  background-color: #fbfbfb; }

.colorBgGreyPlus {
  background-color: #dddddd; }

.hcTxtColorGreyMid {
  color: #999999; }

.bgColorBrand1 {
  background-color: #efc319;
  color: #172854; }

.bgColorBrand1 a {
  color: #172854; }

.colorBgGrey {
  background-color: #efefef !important; }

.hcFeedbackError {
  border-bottom: 3px solid #d06f5d !important; }

.hcFeedbackSucces {
  border-bottom: 3px solid #64a264 !important; }

.hcEmplDataBlock {
  width: 100%; }

.hcEmplacesItemHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .hcEmplacesItemHeader h2 {
    font-size: 1.1rem; }

.hcEmplacesTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline; }

.hcEmplacesTitle > * {
  margin-right: .5rem; }

.hcEmplHierarchy ul, .hcEmplHierarchy ul ul, .hcEmplHierarchy ul ul ul, .hcEmplHierarchy ul ul ul ul, .hcEmplHierarchy ul ul ul ul ul, .hcEmplHierarchy ul ul ul ul ul ul {
  margin-left: 0;
  list-style: none; }

.hcEmplHierarchy li:before {
  content: "+";
  padding-right: 8px;
  color: #999999; }

.hcEmplList {
  display: flex;
  flex-direction: column; }

.hcEmplListHeader, .hcEmplListRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.hcEmplListHeader > *, .hcEmplListRow > * {
  flex: 1;
  padding: .3rem; }

.hcEmplListHeader {
  background-color: #fafafa;
  font-weight: 700; }

.hcEmplCalBar {
  width: 100%;
  border: 1px solid #999999;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.hcEmplCalBar > * {
  padding: 0 .2rem; }

.hcEmplCalBarLegend {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.hcEmplCalMarker {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  align-items: baseline;
  margin-bottom: -2rem; }
