body {
  background-color: #fff;
  color: #3e3e3e; }

a {
  color: #0087d4; }

.colorBgGrey {
  background-color: #f6f6f6; }

.colorBgGreyLight {
  background-color: #fbfbfb; }

.colorBgGreyPlus {
  background-color: #dddddd; }

.hcTxtColorGreyMid {
  color: #999999; }

.bgColorBrand1 {
  background-image: none !important;
  background-color: #efc501; }

.bgColorBrand2 {
  background-image: none !important;
  background-color: #075446;
  color: #fff; }

.bgColorBrand2 a {
  color: #fff; }

a {
  color: #075446; }

.colorBgGrey {
  background-color: rgba(7, 84, 70, 0.05) !important; }

.hcBrandLogo img {
  height: 50px; }

.hcPageHeaderSimple a {
  color: #000; }

.hcGaHeader {
  width: 100%;
  display: flex; }
  .hcGaHeader > * {
    display: flex;
    align-items: center;
    justify-content: center; }

.hcGaHeaderLogo img {
  width: auto;
  height: 75px; }

.hcGaHeaderToolName {
  font-weight: 700; }
