@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");
.utillBlock h2 {
  margin-top: 8rem; }

.utillBlock h2:first-of-type {
  margin-top: 0rem; }

.utillBlock h3 {
  margin-top: 4rem; }

.utillBlock h4 {
  margin-top: 4rem; }

code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: #000;
  background-color: rgba(241, 247, 211, 0.2);
  border-radius: 3px;
  font-size: 14px;
  padding: .2rem .4rem; }

pre code {
  display: block;
  color: #797c6d;
  border: 1px solid rgba(208, 213, 182, 0.48); }

pre code::before {
  content: "Code excample";
  margin-bottom: -2rem;
  margin-right: -4rem;
  font-size: .7rem;
  width: 100%;
  text-align: right;
  display: block;
  color: rgba(121, 124, 109, 0.5); }

.codeEmp {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem; }

.utillBlock {
  border-bottom: 1px solid #ede8e8;
  padding: 0 0 5em 0;
  margin: 0 0 5em 0; }

.sub {
  font-weight: 300 !important; }

#navigationFromHeaders {
  padding-bottom: 8rem; }
