{{> html-head}}

{{> page-product-bar}}
<div class="hcContentContainer">

  <div class="hcHeadSpace hcBasicSideMargin">
    <h1>Upload a new dataset</h1>
  </div>


  <div class="hcMarginBottom3 hcBlockText hcBasicSideMargin">
    <p class="">Op die manier moet het mogelijk worden dat een Facebook-gebruiker bijvoorbeeld een bericht kan sturen naar een WhatsApp-gebruiker zonder Facebook- of Instagram-account.</p>
    <p class="">Messenger is onderdeel van Facebook, maar de berichtendienst is ook beschikbaar als losstaande app voor Android en iOS. Facebook kocht Instagram in 2012 en nam WhatsApp in 2014 over voor respectievelijk 1 miljard dollar en 19 miljard dollar.</p>
  </div>

  <!-- <div class="hcMarginBottom5 basicSideMargin">
    <ul class="hcList">
      <li class="hcListItem">
        <div>Main item</div>
        <div>main item</div>
        <div>main item</div>
        <div>main item</div>
      </li>
    </ul>
  </div> -->

  <div class="hcForm hcBasicSideMargin">
    {{> comp-form-stack}}
  </div>

  <div class="hcForm hcBasicSideMargin">
    {{> comp-form-stack}}
  </div>


</div>


{{> html-footer}}
