{{> html-head}}
<link rel="stylesheet" href="css/util-site-css.css">
<div class="hcLayoutBasicMainFixedAside">
  <aside class="hcLayoutAside">


    <div class="asideWithProductBar">
      {{> page-product-bar}}
      <div class="colorBgGrey hcBlockScroll hcBasicSideMargin">
        <div class="hcHeadSpace">

        </div>
        <nav id="navigationFromHeaders" class="navigation hcAlignVertical"></nav>
      </div>
    </div>
  </aside>



  <div class="hcLayoutMain hcContentContainer ">
    <div class="hcHeadSpace hcBasicSideMargin">
      <h1>HuC template pages</h1>
    </div>
    <div class="hcBasicSideMargin">
      {{> nav}}
    </div>

  </div>

  <!-- build:js js/util-pages.js -->
      <script type="text/javascript" src="../js/headers-to-subnavigation.js"></script>
      <script type="text/javascript" src="../js/codeForPreCode.js"></script>
      <!-- endbuild -->
{{> html-footer}}
