{{> html-head}}

<div class="hcContentContainer bgColorBrand1">
  <header class=" hcPageHeaderSimple hcBasicSideMargin">
    <div class="hcBrandLogo"><img src="images/{{logo}}" class="logo"></div>
    <nav>
      <a href="dpp-home.html">Home</a>
      <a href="dpp-search.html">Search the papers</a>
      <a href="dpp-text.html">About</a>
    </nav>
  </header>
</div>

<div class="hcContentContainer">
  <div class="hcHeadSpace hcBasicSideMargin">
    <h1>{{Book}} / page {{Page}}</h1>
  </div>
  <div class="hc3columns">
    <div>
      {{#each thumbs}}
          <img src="images/dpp/{{thumb}}" style="width:150px; height:auto;"><br>
      {{/each}}
    </div>
    <div class="hcBasicSideMargin"><strong>Content</strong><br>{{{Content-txt}}}</div>
    <div class="hcBasicSideMargin">
      <strong>Ship</strong>: {{shipName}}<br>
      <strong>Ship Master</strong>: {{shipMaster}}<br>
      <strong>Capture Date</strong>: {{CaptureDate}}
    </div>
  </div>




  <!-- <iframe style="width:100%; height: 700px;" title="Mirador" src="https://prizepapers.huygens.knaw.nl/framed2.html?series=NL-HaNA_2.22.24&imageset=HCA32-2.12&uri=https://images.huygens.knaw.nl/iiif/NL-HaNA_2.22.24/HCA32-2.12/NL-HaNA_2.22.24_HCA32-2.12_0001.tif" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe> -->


</div>



<div class="hcStickyFooter ">
  <div class="hcThumbsRow hcThumbnailBgColor">
    {{#each thumbs}}
        <img src="images/dpp/{{thumb}}" style="height:50px; width:auto;"><br>
    {{/each}}
  </div>
</div>




<!-- build:js js/dpp-facets.js -->

<!-- endbuild -->
{{> html-footer}}
