{{> html-head}}

<div class="hcContentContainer bgColorBrand1">
  <header class=" hcPageHeaderSimple hcBasicSideMargin">
    <div class="hcBrandLogo"><img src="images/{{logo}}" class="logo"></div>
    <nav>
      <a href="">Home</a>
      <a href="">Search the papers</a>
      <a href="">About</a>
    </nav>
  </header>
</div>

<div class="hcContentContainer">
  <div class="hcHeadSpace hcBasicSideMargin">
    <h1>Search the papers</h1>
  </div>

  <div class="hcLayoutFacet-Result hcBasicSideMargin hcMarginBottom15">

    <div class="hcLayoutFacets">
      <button type="button" name="button" id="showFacets"><img src="images/icons/icon-set-facets.svg" class="icon"></button>
      <div class="hcLayoutFacetsToggel" id="hcLayoutFacetsToggel">

        {{#each facets}}
          {{#if facetTypelist}}
            {{> comp-facet}}
          {{/if}}
          {{#if facetTypeSearch}}
            {{> comp-facet-text}}
          {{/if}}
          {{#if facetTypeRange}}
            {{> comp-facet-range}}
          {{/if}}

        {{/each}}

      </div>
    </div>




    <div class="hcLayoutResults">
      <div class="hcResultsHeader hcMarginBottom1">
        <div>12.873 Results</div>
        <div><select class="" name="">
          <option value="">Order by Date</option>
          <option value="">Order by Pagenumber</option>
          <option value="">Order by Relevance</option>
          <option value="">Order by archive number</option>
        </select></div>
      </div>

      <div class="hcMarginBottom1">
        <span class="hcSelectedFacet"><span class="hcSelectedFacetType">Ship</span>De Spiegel</span>
        <span class="hcSelectedFacet"><span class="hcSelectedFacetType">Shipmaster</span>Gideon de Wildt</span>
      </div>
      <div class="hcList hcMarginBottom2">
        {{#each results}}
          {{> list-item-DPP}}
        {{/each}}

      </div>
      {{> comp-pagination}}

    </div>




  </div>
</div>








<!-- build:js js/dpp-facets.js -->
  <script type="text/javascript" src="../js/show-hide-facets.js"></script>
<!-- endbuild -->
{{> html-footer}}
