.hcSpitscreen {
  display: flex;
  flex-direction: column;


}

.hcSpitscreen > *{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

@media (min-width: 1400px) {
  .hcSpitscreen {
    flex-direction: row;
  }

  .hcSpitscreen > *{

  }



}
