.hcLayoutWideCols {
  display: flex;
  flex-direction: column;
  width: 100%;

  >* {
    width: 100%;
    max-width: 50vw;

  }

}


@media (min-width: 800px) {
  .hcLayoutWideCols {
    flex-direction: row;
  }

  .hcWideColsFixedWidth {
    width: 100%;
    max-width: 25vw;
  }
}

.hcLayoutWideColsInner{
  width: 100%;

}
