.hcThumbsRow {
  display: flex;
  flex-direction: row;
}

.hcThumbsRow img {
  margin: 1rem 0 1rem 1rem;
  cursor: pointer;
}

.hclayoutTextImageDivider {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 150px);
}

.hclayoutTextImageDivider:first-child {
  flex: 4;
}
