.hcThumbsRow {
  display: flex;
  flex-direction: row;
}

.hcThumbsRow img {
  margin: 1rem 0 1rem 1rem;
  cursor: pointer;
}

.hclayoutTextImageDivider {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 150px);
}

.hclayoutTextImageDivider:first-child {

}

.hcViewer {
  width: 45%;
}

.hcMeta {
  //width: 25%;
  max-width: 250px;

}

.hcText {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.hcText >*{
  max-width: 550px;
}
