$asideWith: 300px;
$asideWithWide: 400px;

.hcLayoutBasicMainAside, .hcLayoutBasicMainFixedAside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hcLayoutAside {
  width: 100%;
}

.hcLayoutMain {
  width: 100%;
}

@media (min-width: #{$siteBreak}) {
  .hcLayoutBasicMainAside {
    flex-direction: row;
  }

  .hcLayoutAside {
    width: $asideWith;
  }

  .hcLayoutMain {
    width: calc(100vw - #{$asideWith});
    min-width: calc(800px - #{$asideWith});
  }
}

//////////////////

@media (min-width: 800px) {
  .hcLayoutBasicMainFixedAside {
    flex-direction: row;
    justify-content: flex-end;

    .hcLayoutAside {
      width: $asideWith;
      position: fixed !important;
      top: 0;
      left: 0;
      bottom: 0;
    }

    .hcLayoutMain {
      width: calc(100vw - #{$asideWith});
      margin-left: $asideWith;
    }

    .asideWithProductBar {
      display: flex;
    }
    .asideWithProductBar > *:last-child{
      margin-left: $productBarWidth;
    }

    .hcStickyFooter {
      width: calc(100vw - #{$asideWith});
    }

  }
}

@media (min-width: 1100px) {
  .hcLayoutBasicMainFixedAside {
    flex-direction: row;
    justify-content: flex-end;

    .hcLayoutAside {
      width: $asideWithWide;
    }

    .hcLayoutMain {
      width: calc(100vw - #{$asideWithWide});
      margin-left: $asideWithWide;
    }

    .asideWithProductBar > *:last-child{
      margin-left: $productBarWidth;
      width: 100%;
    }

    .hcStickyFooter {
      width: calc(100vw - #{$asideWithWide});
    }
  }
}
