$asideFacets: 350px;

.hcLayoutFacet-Result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hcLayoutFacets {
  width: 100%;
}

.hcLayoutResults {
  width: 100%;
}

.hcLayoutFacetsToggel {
  display: none;
}
#showFacets {
  position: fixed;
  top: 45vh;
  left: 0;
}

@media (min-width: #{$siteBreak}) {
  .hcLayoutFacet-Result {
    flex-direction: row;
  }

  .hcLayoutFacets {
    width: $asideFacets;
  }

  .hcLayoutResults {
    width: calc(100% - #{$asideFacets});

  }
  .hcLayoutFacetsToggel {
  display: block;
  }

  #showFacets {
    display: none;
    position: fixed;
  }
}
