<div class="hcLogicBox">
  <h3>Matching</h3>

  
  <!-- logicbox group -->
  <div class="hcLogicBox-group">

            <!-- logicbox group -->
            <div class="hcLogicBox-group">
              {{>comp-logicBox-row title="Getty & Frick vs NA:: approx Lev 0,7"}}
              {{>comp-logicBox-row title="Getty & Frick vs NA v3"}}
            </div>

            <!-- logicbox operator -->
            <div class="hcLogicBox-group-operator">OR</div>

            <!-- logicbox group -->
            <div class="hcLogicBox-group">
              {{>comp-logicBox-row title="Getty & Frick vs NA:rqwerq qwer"}}
              {{>comp-logicBox-row title="Getty & Frick vs NA q werqwer"}}
            </div>


  </div>
  <!-- logicbox operator -->
  <div class="hcLogicBox-group-operator">AND</div>

  <!-- logicbox group -->
  <div class="hcLogicBox-group">

          <!-- logicbox group -->
          <div class="hcLogicBox-group">
            {{>comp-logicBox-row title="Getty & Frick vs NA:: approx Lev 0,7"}}
          </div>


          <!-- logicbox operator -->
          <div class="hcLogicBox-group-operator">OR</div>

          <!-- logicbox group -->
          <div class="hcLogicBox-group">
            {{>comp-logicBox-row title="Getty & Frick vs NA v3"}}
            {{>comp-logicBox-row title="Getty & Frick vs NA:rqwerq qwer"}}
            {{>comp-logicBox-row title="Getty & Frick vs NA q werqwer"}}
          </div>
  </div>


</div>
