<div class="hcFormItem hcMarginBottom2">
  <label class="hcLabel" for="f1">Dataset name</label>
  <input type="text" id="f1" class="hcFeedbackError">
  <div class="hcSmallTxt hcTxtColorGreyMid">Sorry this name already exists.</div>
</div>

<div class="hcFormItem hcMarginBottom2">

  <label class="hcLabel" for="city">Data type</label>
  <select id="city" class="hcFeedbackSucces">
    <option value="1">Select a type</option>
    <option value="2">Arnhem</option>
    <option value="3">The Hague</option>
  </select>
  <div class="hcSmallTxt hcTxtColorGreyMid"></div>

</div>

<div class="hcFormItem hcMarginBottom2">
  <label class="hcLabel" for="f3">Description</label>
  <textarea name="name"  class="" id="f3"></textarea>
  <div class="hcSmallTxt hcTxtColorGreyMid"></div>
</div>
