<div class="hcFormItem hcMarginBottom2">
  <label class="hcLabel" for="f1">Given name</label>
  <input type="text" id="f1" class="hcFeedbackError">
  <div class="hcSmallTxt hcTxtColorGreyMid">Email adresses must contain an @ and a dot.</div>
</div>

<div class="hcFormItem hcMarginBottom2">

  <label class="hcLabel" for="city">Family name</label>
  <select id="city" class="hcFeedbackSucces">
    <option value="1">Amsterdam</option>
    <option value="2">Arnhem</option>
    <option value="3">The Hague</option>
  </select>
  <div class="hcSmallTxt hcTxtColorGreyMid">Email adresses must contain an @ and a dot.</div>

</div>

<div class="hcFormItem hcMarginBottom2">
  <label class="hcLabel" for="f3">Bio</label>
  <textarea name="name"  class="" id="f3"></textarea>
  <div class="hcSmallTxt hcTxtColorGreyMid"></div>
</div>
