<div class="hcListItem hcListItemBlock">






    <div class="hcListItemBlockBig">

      <div class="hcSmallTxt">
        <div><img src="images/icons/icon-dpp-year.svg" class="icon"> {{CaptureDate}}</div>
        <div><img src="images/icons/icon-dpp-ship-name.svg" class="icon"> {{shipName}}</div>
        <div><img src="images/icons/icon-dpp-ship-captain.svg" class="icon"> {{shipMaster}}</div>

      </div>

      {{{Kwic}}}
      <div class="hcSmallTxt"><img src="images/icons/icon-dpp-file.svg" class="icon"> {{Book}} / page {{Page}}</div>
    </div>






  <div class="hcListItemThumb">
    <div>
      <img src="images/dpp/{{Image}}">
    </div>
  </div>

</div>
