<nav>






    <h3>HuC | All elements page</h3>
    <a href="all-elements-on-page.html">Go tot page</a>




<br><br><br>

    <h3>HuC | Multiple items page</h3>
    <a href="multiple.html">Go tot page</a>




<br><br><br>

    <h3>Timbuctoo | Edit screen</h3>
    <a href="tim-edit.html">Go tot page</a>




<br><br><br>

    <h3>Dutch Prize Papers | Homepage</h3>
    <a href="dpp-home.html">Go tot page</a>




<br><br><br>

    <h3>Dutch Prize Papers | Text page</h3>
    <a href="dpp-text.html">Go tot page</a>




<br><br><br>

    <h3>Dutch Prize Papers | Search page</h3>
    <a href="dpp-search.html">Go tot page</a>


          <pre>
            <code>
            ###~// page header~###
            <div class="hcContentContainer bgColorBrand1">
              <header class=" hcPageHeaderSimple hcBasicSideMargin">
                <div class="hcBrand">
                  <div class="hcBrandLogo"><img src="images/logo-dutch-prize-papers.svg" class="logo"></div>
                  <div class="hcBrandName">Dutch Prize Papers</div>
                </div>
                <nav>
                  <a href="dpp-home.html">Home</a>
                  <a href="dpp-search.html">Search the papers</a>
                  <a href="dpp-text.html">About</a>
                </nav>
              </header>
            </div>
            //content
            <div class="hcContentContainer">
              <div class="hcHeadSpace hcBasicSideMargin">
                <h1>Search the papers</h1>
              </div>
              <div class="hcLayoutFacet-Result hcBasicSideMargin hcMarginBottom15">
                <div class="hcLayoutFacets">
                  <button type="button" name="button" id="showFacets" class="hcfixedSideButton"><img src="images/icons/icon-set-facets.svg" class="icon"></button>
                  <div class="hcLayoutFacetsToggel" id="hcLayoutFacetsToggel">
                  // facets here
                  </div>
                </div>
            
                <div class="hcLayoutResults">
                  <div class="hcResultsHeader hcMarginBottom1">
                    <div>12.873 Results</div>
                    <div><select class="" name="">
                      <option value="">Order by Date</option>
                    </select></div>
                  </div>
                  <div class="hcMarginBottom2">
                    <span class="hcSmallTxt hcTxtColorGreyMid">Selected facets:</span>
                    <span class="hcSelectedFacet"><span class="hcSelectedFacetType">Ship</span>De Spiegel</span>
                  </div>
                    // page message
                  <div class="hcList hcMarginBottom2">
            
            
                    ####~
                    <div class="hcListItem hcListItemBlock" onclick="location.href='dpp-detail.html';">
                        <div class="hcListItemDPPBlock colorBgGrey">
                          <div class="hc2columns hcSmallTxt hcMarginBottom2">
                            <span>
                              <div class="hcIconText"><img src="images/icons/icon-dpp-file.svg" class="icon"> <span> Book / page #</span></div>
                              <div class="hcIconText"><img src="images/icons/icon-dpp-ship-name.svg" class="icon"> <span>shipName</span></div>
                            </span>
                            <span>
                              <div class="hcIconText"><img src="images/icons/icon-dpp-year.svg" class="icon"> <span>CaptureDate</span></div>
                              <div class="hcIconText"><img src="images/icons/icon-dpp-ship-captain.svg" class="icon"> <span>shipMaster</span></div>
                            </span>
                          </div>
                          <div>
                            // Kwic
                          </div>
                        </div>
                      <div class="hcListItemThumb">
                        <div>
                          <img src="images/dpp/}">
                        </div>
                      </div>
                    </div>
                    ~####
            
            
                  </div>
                  //pagenation
                </div>
            
              </div>
            </div>
          </code>
        </pre>


<br><br><br>

    <h3>Dutch Prize Papers | detail page</h3>
    <a href="dpp-detail.html">Go tot page</a>




<br><br><br>

    <h3>Golden Agents | Home</h3>
    <a href="ga-home.html">Go tot page</a>




<br><br><br>

</nav>
