{{> html-head}}

{{>custom/is-header}}



<div class="hcContentContainer">
  <!-- BreadCrumb -->
  <div class="hcBreadCrumb hcMarginBottom2 hcBasicSideMargin hcTxtColorGreyMid hcSmallTxt">
    Isebel / Search
  </div>
  <!-- / BreadCrumb -->

  <div class="hcLayoutFacet-Result  hcMarginBottom5">
    <div class="hcLayoutFacets hcMarginBottom2 colorBgGreyLight hcBasicSideMargin">
      <button type="button" name="button" id="showFacets" class="hcfixedSideButton"><img src="images/icons/icon-set-facets.svg" class="icon"></button>
      <div class="hcLayoutFacetsToggel hcMarginTop2" id="hcLayoutFacetsToggel">
        {{#each facets}}
          {{#if facetTypelist}}
            {{> comp-facet}}
          {{/if}}
          {{#if facetTypeSearch}}
            {{> comp-facet-text}}
          {{/if}}
          {{#if facetTypeRange}}
            {{> comp-facet-range}}
          {{/if}}
        {{/each}}
      </div>
    </div> <!-- / facets -->





    <div class="hcLayoutResults">

      {{>comp-map-placeholder}}

      <!--resultsheader -->
        <div class="hcMarginBottom2 hcMarginTop2 hcItemsStart hcBasicSideMargin"> {{> comp-facet-selected}} </div>

        <div class="hcResultsHeader hcMarginBottom1 hcBasicSideMargin">
          <div><strong>{{resultsAmount}} Results</strong></div>
          <div>
            <select class="" name="">
              <option value="">Order by Relevance</option>
              <option value="">Order by date created</option>
            </select>
          </div>
        </div>
        <!-- / resultsheader -->


        <!--results -->
        <div class="hcList hcBasicSideMargin hcMarginBottom2" onclick="javascript:location.href='{{linkResultPage}}.html'">
          {{#each results}}
            {{> list-items/list-isebel-searchresults }}
          {{/each}}
        </div>
        {{> comp-pagination}}
        <!-- / results -->




    </div> <!-- / facet results -->
  </div> <!-- / facet layout -->
</div> <!-- / container -->

<!-- page footer -->
<div class="hcContentContainer bgColorBrand2">
  <div class="hc2columns hcMarginBottom3 hcMarginTop3 hcBasicSideMargin">
    <div class="">ISEBEL stands for International Search Engine for Believe Legends. At the moment, this search engine harvests folktales and metadata from three European regions: the Netherlands, Denmark and North-East Germany.</div>
    <div>Logo's</div>
  </div>
</div> <!-- / container -->
<!-- / page footer -->




  {{> html-footer}}
