{{> html-head}}
{{> comp-tim-header}}

<div class="hcContentContainer">
  {{> comp-emPl-itemHeader title="Opole"}}

  <div class="">
    Opolė, Òpòle, Opolí, Oppein, Oppeln, Uopole, Горад Аполе, Ополе, ออปอเล, 오폴레 ,אופולה, أبولوسكي, اوپول, اوپوله
  </div>



  {{> comp-emPl-itemHeader title="Administrative hierarchy"}}

  <div class="">
    <ul>
      <li>Poland Country
        <ul>
          <li>Opole VoioVodeship
            <ul>
              <li>Opole (AMD2)
                <ul>
                  <li>Opole (AMD3)
                    <ul>
                      <li>Opole (Populated place)</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </div>





</div>

{{>page-footer-timbuctoo}}
<!-- build:js js/form.js -->
<!-- endbuild -->
{{> html-footer}}
