{{> html-head}}
{{> comp-tim-header}}


<div class="hcContentContainer">
  <div class="hcBasicSideMargin hcMarginTop4 hcMarginBottom1">
    <h1>Person search</h1>
  </div>

  <div class="hcLayoutFacet-Result hcBasicSideMargin hcMarginBottom15">

    <div class="hcLayoutFacets">
      <button type="button" name="button" id="showFacets" class="hcfixedSideButton"><img src="images/icons/icon-set-facets.svg" class="icon"></button>
      <div class="hcLayoutFacetsToggel" id="hcLayoutFacetsToggel">

        {{#each facets}}
          {{#if facetTypelist}}
            {{> comp-facet}}
          {{/if}}
          {{#if facetTypeSearch}}
            {{> comp-facet-text}}
          {{/if}}
          {{#if facetTypeRange}}
            {{> comp-facet-range}}
          {{/if}}

        {{/each}}

      </div>
    </div>




    <div class="hcLayoutResults">
      <div class="hcResultsHeader hcMarginBottom1">
        <div>{{resultsAmount}} Results</div>
        <div><select class="" name="">
        <option value="">Order by Relevance</option>
          <option value="">Order by given name</option>
          <option value="">Order by family name</option>
        </select></div>
      </div>

      <div class="hcMarginBottom2">
        {{> comp-facet-selected}}
      </div>

      <div class="hcList">
        <div class="hcListHeader">
          <div class="hcLabel hcListItemLong">Name </div>
          <div class="hcLabel">Birth</div>
          <div class="hcLabel">Death</div>
        </div>
      </div>

      <div class="hcList hcMarginBottom2" onclick="javascript:location.href='{{linkResultPage}}.html'">

          {{#each results}}
            {{> (lookup . 'resultListComp') }}
          {{/each}}



      </div>
      {{> comp-pagination}}

    </div>




  </div>
</div>


{{>page-footer-timbuctoo}}
<!-- build:js js/form.js -->
<!-- endbuild -->
{{> html-footer}}
