{{> html-head}}
{{> comp-tim-header}}

<div class="hcContentContainer">

  <div class="hcEmplDataBlock hcMarginBottom2">
    {{> comp-emPl-itemHeader title="Opole" header=true hasProvenance=true}}
    <em class="hcTxtColorGreyMid">Populated place</em>
    <div class="">
      Opolė, Òpòle, Opolí, Oppein, Oppeln, Uopole, Горад Аполе, Ополе, ออปอเล, 오폴레 ,אופולה, أبولوسكي, اوپول, اوپوله
    </div>
  </div>



  <div class="hcEmplDataBlock hcMarginBottom2">
  {{> comp-emPl-itemHeader title="Administrative hierarchy" header=false hasProvenance=false}}
    <div class="hcEmplHierarchy">
      <ul>
        <li>Poland Country
          <ul>
            <li>Opole VoioVodeship
              <ul>
                <li>Opole (AMD2)
                  <ul>
                    <li>Opole (AMD3)
                      <ul>
                        <li>Opole (Populated place)</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>


<div class="hcEmplDataBlock hcMarginBottom2">
  {{> comp-emPl-itemHeader title="Name attestations" header=false hasProvenance=true}}

  <div class="hcEmplList">
    <div class="hcEmplListHeader">
      <div>Name</div>
      <div>Language</div>
      <div>Date</div>
      <div>Source</div>

    </div>
    <div class="hcEmplListRow">
      <div>Oppol</div>
      <div>(ger, lat)</div>
      <div>1226-1487</div>
      <div>Liber fundationis episcopatus Vratislaviensis</div>
    </div>
    <div class="hcEmplListRow">
      <div>Oppol</div>
      <div>(ger, lat)</div>
      <div>1226-1487</div>
      <div>Liber fundationis episcopatus Vratislaviensis</div>
    </div>
  </div>
</div>





<div class="hcEmplDataBlock hcMarginBottom2">
  {{> comp-emPl-itemHeader title="Calander" header=false hasProvenance=true}}
  <div class="hcEmplCalMarker" style="margin-left: 23%"><span>1584.01.29</span> <span class="hcTxtColorGreyMid hcSmallTxt">(Inferred)</span> </div>
  <div class="hcEmplCalBarLegend">
    <div class="hcTxtColorGreyMid hcSmallTxt">1500</div>
    <div class="hcTxtColorGreyMid hcSmallTxt">1800</div>
  </div>

  <div class="hcEmplCalBar">
    <div class="hcEmplCalBarFill bgColorBrand1  hcSmallTxt" style="width: 23%">Julian (Jan. 1)</div>
    <div class="hcEmplCalBarSpace hcSmallTxt" style="width: calc(100% - 23%)">Gregorian</div>
  </div>
</div>



<div class="hcEmplDataBlock hcMarginBottom2">
  {{> comp-emPl-itemHeader title="Connections" header=false hasProvenance=true}}

  <div class="hcEmplList">
    <div class="hcEmplListHeader">
      <div>Name</div>
      <div>Type</div>
      <div>Relation</div>

    </div>
    <div class="hcEmplListRow">
      <div>St. Adalbert</div>
      <div>Church</div>
      <div>Located within</div>
    </div>
  </div>
</div>


<div class="hcEmplDataBlock hcMarginBottom2">
  {{> comp-emPl-itemHeader title="Maps" header=false hasProvenance=true}}
  <div class="hcEmplTabBar">
    <div class="hcSelected">Current</div>
    <div class="">1561</div>
    <div class="">1608</div>
    <div class="">1740</div>
    <div class="">1794</div>
  </div>
  <div class="hcEmplEmbedBox"> </div>
</div>


<div class="hcEmplDataBlock hcMarginBottom2">
  {{> comp-emPl-itemHeader title="Historical Hierarchies" header=false hasProvenance=true}}
  <div class="hcEmplTabBar">
    <div class="hcSelected">Administrative</div>
    <div class="">Ecclesiastical</div>
    <div class="hcTxtColorGreyMid">Military</div>
    <div class="hcTxtColorGreyMid">Judicial</div>
  </div>
  <div class="hcEmplEmbedBox">
    <div>
      <div>1490-1521￼￼</div>
      <div>1521-1526</div>
      <div>1526-1742</div>
      <div>1742-1806</div>
    </div>
    <div>
      {{> comp-emPl-hierarchyItem name="Holy Roman Empire" timeRange="0010 - 0129" }}
    </div>
  </div>

</div>

<div class="hcEmplDataBlock hcMarginBottom2">
  Creator: Cultures of Knowledge
  Contributors: Dariusz Gierczak, Arno Bosse
  License: CC-BY (v3)
</div>




</div>

{{>page-footer-timbuctoo}}
<!-- build:js js/form.js -->
<!-- endbuild -->
{{> html-footer}}
