<div class="hcListBasicResult">
  <div class="hcListItemLong">
    <strong>{{>custom/ga-icon-al}} {{prName}}</strong>
  </div>
  <div class="hcSmallTxt hcTxtRight">
    {{prDataset}}
  </div>
  <div class="hcSmallTxt hcTxtRight">
    {{prSource}}
  </div>
  <div class="hcSmallTxt hcTxtRight">
    {{prTarget}}
  </div>
  <div class="hcSmallTxt hcTxtRight">
    {{prLinks}}
  </div>
  <div class="hcSmallTxt hcTxtRight">
    {{prCusters}}
  </div>
  <div class="hcSmallTxt hcTxtRight">
    {{prStatus}}
  </div>

  <div><a href="">Duplicate</a></div>
</div>
