<div class="hcListBasicResult">
  <div class="">1.000</div>


  <div class="hcListItemLong">
    <div class="hcLabel">{{>custom/ga-icon-ds}} foaf_name</div>
    <strong>Mary Jans</strong>
    <div class="hcSmallTxt hcClrTxt_Grey hcTextTruncate">http://www.vondel.humanities.uva.nl/onstage/persons/2236</div>
  </div>


  <div class="hcListItemLong">
    <div class="hcLabel">{{>custom/ga-icon-ds}} foaf_name</div>
    <strong>Mary Jans</strong>
    <div class="hcSmallTxt hcClrTxt_Grey hcTextTruncate">http://www.vondel.humanities.uva.nl/onstage/persons/2236</div>
  </div>


  <div class="hcListItemLong">
    <button type="button" name="button">Compare</button>
    <button type="button" name="button">Accept</button>
    <button type="button" name="button">Decline</button>
  </div>
</div>
