<div class="hcListBasicResult">
  <div class="hcListItemLong">
        <strong>{{>custom/ga-icon-al}} {{prName}}</strong>
</div>
    <div  class="hcSmallTxt">
      {{prDataset}}
    </div>
    <div  class="hcSmallTxt">
      {{prSource}}
    </div>
    <div  class="hcSmallTxt">
      {{prTarget}}
    </div>
    <div  class="hcSmallTxt">
      {{prLinks}}
    </div>
    <div  class="hcSmallTxt">
      {{prCusters}}
    </div>
    <div  class="hcSmallTxt">
      {{prStatus}}
    </div>

  <div><a href="">Duplicate</a></div>
</div>
