<div class="hcListBasicResult">
  <div class="hcSmallTxt">391</div>
  <div class="hcSmallTxt">73.642</div>


  <div class="hcListItemLong">
    <div class="hcLabel">{{>custom/ga-icon-ds}} foaf_name</div>
    <strong>Mary Jans</strong>
  </div>


  <div class="hcListItemLong">
    <div class="hcLabel">{{>custom/ga-icon-ds}} Schema_Name</div>
    <strong>Brugge-Antwerpen</strong>
  </div>


  <div class="hcSmallTxt hcTxtCenter"> x </div>
  <div class="hcSmallTxt hcTxtCenter"> x </div>
  <div class="hcSmallTxt"> 2345234542 </div>
</div>
