.brandName {
	font-weight: 700;
}

.brandName img {
		height: 50px;
		width: auto !important;
}

.chBrandHuc {
	.bgColorBrand1 {
		background-image: -webkit-linear-gradient(25deg, #03dbe8 40%, #ddf279 100%) !important;
	}

	.colorBgGrey{
		background-color: #edf7f3 !important;
	}
}


.chBrandHuygens {
	.bgColorBrand1 {
		background-image: -webkit-linear-gradient(25deg, #082045 40%, #082045 100%) !important;
	}

	.colorBgGrey{
		background-color: $colorHuygensGreyLight !important;
	}
}
