// buttons
button {
  font-size: .7rem;
	padding: .5rem;
  border-radius: $basicBorderRadius;
	background-color:rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.09);
	cursor: pointer;
  font-weight: 700;
  margin: 0 .3rem;
  max-height: 40px;

}

.hcImageButttons {
  max-height: 35px;
  max-width: 35px;
  background-color:rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: .25rem;
}

.hc-loud {
	padding: .8rem;
	font-size: 1rem;

}

.hc-small {
	padding: .3rem;
	font-size: .6rem;
}


.hc-subtle {
	background: none;
	border: none;
	box-shadow: none;
	color: $colorLink;
}

.hcfixedSideButton {
  width: $basicMargin;
  padding: .2rem;
  border-radius: 0 $basicBorderRadius $basicBorderRadius 0;
}


.hcToggle {

  button {
    margin: 0 0rem;
    border-radius: 0px;
    border-right: 0px;
  }

  >*:first-child {
    border-radius: #{$basicBorderRadius} 0 0 #{$basicBorderRadius};
  }

  >*:last-child {
    border-radius: 0 #{$basicBorderRadius} #{$basicBorderRadius} 0;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
  }
}



.buttonRemove:before{
  content: '';
  background:url('Icons/icon-util-close.html');
  width: 20px;
  height: 20px;
  display: block;
}






.hcDropList {
  button {}

  .hcDropList__list{
    display: none;
    flex-direction: column;
    position: absolute;

    a {
      padding: .5rem ;
    }
  }
}

.hcDropList:hover  .hcDropList__list{
  display:flex;
  z-index: 150;
}
