// buttons
button {
  font-size: .7rem;
	padding: .5rem;
  border-radius: $basicBorderRadius;
	background-color:rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.09);
	cursor: pointer;
  font-weight: 700;
  margin: 0 .3rem;
}

.hc-loud {
	padding: .8rem;
	font-size: 1rem;

}

.hc-small {
	padding: .5rem;
	font-size: .8rem;
}


.hc-subtle {
	background: none;
	border: none;
	box-shadow: none;
	color: $colorLink;
}

.hcfixedSideButton {
  width: $basicMargin;
  padding: .2rem;
  border-radius: 0 $basicBorderRadius $basicBorderRadius 0;
}


.hcToggle {

  button {
    margin: 0 0rem;
    border-radius: 0px;
    border-right: 0px;
  }

  >*:first-child {
    border-radius: #{$basicBorderRadius} 0 0 #{$basicBorderRadius};
  }

  >*:last-child {
    border-radius: 0 #{$basicBorderRadius} #{$basicBorderRadius} 0;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
  }
}
