// primairy colors

// interface

// system info colors


$colorInfo:          hsl(190, 70%, 40%);
$colorInfoLight:     hsl(190, 60%, 95%);

$colorReward:        hsl(80, 60%, 53%);
$colorRewardLight:   hsl(80, 60%, 80%);

$colorError:         hsl(10, 100%, 41%);
$colorErrorLight:    hsl(10, 100%, 80%);

$colorCaution:       hsl(47, 68%, 64%);
$colorCautionLight:  hsl(47, 68%, 80%);

.hcClrBg_Info { background-color: $colorInfo }
.hcClrBg_InfoLight { background-color: $colorInfoLight }
.hcClrBg_Reward { background-color: $colorReward }
.hcClrBg_RewardLight { background-color: $colorRewardLight }
.hcClrBg_Error { background-color: $colorError }
.hcClrBg_ErrorLight { background-color: $colorErrorLight }
.hcClrBg_Caution { background-color: $colorCaution}
.hcClrBg_CautionLight { background-color: $colorCautionLight }







// system greys
$hcGrey05: hsl(0, 0%, 95%);
$hcGrey10: hsl(0, 0%, 90%);
$hcGrey15: hsl(0, 0%, 85%);
$hcGrey20: hsl(0, 0%, 80%);
$hcGrey30: hsl(0, 0%, 70%);
$hcGrey50: hsl(0, 0%, 50%);
$hcGrey70: hsl(0, 0%, 30%);
$hcGrey80: hsl(0, 0%, 20%);
$hcGrey90: hsl(0, 0%, 10%);





.hcClrBg_Grey05 { background-color: $hcGrey05 }
.hcClrBg_Grey10 { background-color: $hcGrey10 }
.hcClrBg_Grey15 { background-color: $hcGrey15 }
.hcClrBg_Grey20 { background-color: $hcGrey20 }
.hcClrBg_Grey30 { background-color: $hcGrey30 }
.hcClrBg_Grey70 { background-color: $hcGrey70 }
.hcClrBg_Grey80 { background-color: $hcGrey80 }
.hcClrBg_Grey90 { background-color: $hcGrey90 }

.hcClrTxt      { color: $hcGrey90 }
.hcClrTxt_Grey { color: $hcGrey50 }
.hcClrTxt_Dark { color: #000 }
