// primairy colors

// interface

// system info colors

// system greys
$hcGrey05: hsl(0, 0%, 95%);
$hcGrey10: hsl(0, 0%, 90%);
$hcGrey15: hsl(0, 0%, 85%);
$hcGrey20: hsl(0, 0%, 80%);
$hcGrey30: hsl(0, 0%, 70%);
$hcGrey70: hsl(0, 0%, 30%);
$hcGrey80: hsl(0, 0%, 20%);
$hcGrey90: hsl(0, 0%, 10%);
$hcGrey90: hsl(0, 0%, 10%);


// text
$hcTextDefault: $hcGrey90;
$hcTextLight: $hcGrey70;
$hcTextDark: #000;
