.icon {
  width: 1.3rem !important;
  height: auto !important;
  //background-color: #eb517e;
}

.hcIconText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .icon {
    margin-right: .5rem;
  }
}



.hcIcon {
}

.hcIcon svg{
  display: block;
  width: 2rem;
  height: auto;
}


.hcIconFill {
  fill: $colorTxt;
}

.hcIconStroke {
  stroke: $colorTxt;
  stroke-width: 3px;
}

.hcIconSmall svg{
  width: 1rem;
}
