.hcList {
  width: 100%;
}

.hcListItem {
  display: flex;
  flex-direction: column;
  padding: 0 #{$basicMargin};
}

.hcListItem >* {
  flex: 1;
}

@media (min-width: 600px) {
  .hcListItem {
    flex-direction: row;
  }
}



.hcListItemBlock {
  padding: 0;
  transition: background-color .3s;
  margin-bottom: 20px;
}



.hcListItemBlock > *{
  padding: 1rem 2rem;
  background-color: rgb(245, 245, 245);

}






.hcListItemThumb {
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #3b3b3b;
  padding-top: .5rem;
}

.hcListItemThumb div{
  height:170px;
}

.hcListItemThumb img {
  width: 100% !important;
  max-width: 200px;
  height: auto !important;
}

.hcListItemDPPBlock  {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.hcKwic {
  border-bottom: 3px solid rgb(231, 218, 103);
}

.hcResultsHeader {
  display: flex;
  justify-content: space-between;
}
