.hcList2 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  
  li{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


.hcList2NoIcon {
  list-style: none;
}

.hcResultCard {

}
