// Multiple Items

// Lists
.hcList{
  display: flex;
  flex-direction: column;
}


.hcList >*{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}


.hcList >* >*{
  flex: 1;
}

@media (min-width: 600px) {
  .hcList >*{
    flex-direction: row;
  }
}

.hcListItemLong {
  flex: 4;
}

.hcListHeader {
  background: none;
}
