// Multiple Items

// Lists
.hcList{
  display: flex;
  flex-direction: column;
}


.hcList >*{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}


.hcList >* >*{
  flex: 1;
  margin-right: 1rem;
}

@media (min-width: 600px) {
  .hcList >*{
    flex-direction: row;
  }
}

.hcListItemLong {
  flex: 4;
}

.hcListHeader {
  background: none;
}


.hcRowCard {
  background-color: #fff;
  padding: 1rem;
  margin: 0 -1rem .5rem -1rem;
  border-radius: 2px;
}

.hcRowCard >*{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
