// Multiple Items

// Lists
.hcList{
  display: flex;
  flex-direction: column;
}


.hcList >*{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.hcList >*:hover{
  background-color: rgba(#ceeaf5, 0.42);
}

.hcList >* >*{
  flex: 1;
}

@media (min-width: 600px) {
  .hcList >*{
    flex-direction: row;
  }
}

.hcListItemLong {
  flex: 4;
}

.hcListHeader {
  background: none;
}
