// Neutral: no emotion attached.
// Inform: Please note: you need to know this to understand what you are seeing.
// Caution: you might need to take action in oder to proceed
// Error: You cannot go any further
// Reward: what you dit was good!

.hcMessageBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: .85rem;
  line-height: 140%;
  font-style: italic;

  background-color: $colorGreyLightBg;
  border-radius:$basicBorderRadius;
}

.hcMessageBar > *{
  padding: .5rem;
}

// INFORM
.notificationInform {
  color:darken($colorInfo,30);
  background-color: lighten($colorInfo, 40);

  .hcIconFill {
    fill: darken($colorInfo,30);
  }

  .hcIconStroke {
    stroke: darken($colorInfo,30);
  }
}

// CAUTION
.notificationCaution {
  color:darken($colorCaution,30);
  background-color: lighten($colorCaution, 40);

  .hcIconFill {
    fill: darken($colorCaution,30);
  }

  .hcIconStroke {
    stroke: darken($colorCaution,30);
  }
}

// ERROR
.notificationError {
  color:darken($colorError,30);
  background-color: lighten($colorError, 40);

  .hcIconFill {
    fill: darken($colorError,30);
  }

  .hcIconStroke {
    stroke: darken($colorError,30);
  }
}

// REWARD
.notificationReward {
  color:darken($colorReward,30);
  background-color: lighten($colorReward, 40);

  .hcIconFill {
    fill: darken($colorReward,30);
  }

  .hcIconStroke {
    stroke: darken($colorReward,30);
  }
}
