@import 'var';
@import '_color-depricated';
@import '_color';


$colorGoldenAgentsYellow: #efc501;
$colorGoldenAgentsYGreen: #058f76;
@import 'components/ga_header-general';
@import 'components/navSubList--vertical';
@import 'layout/_layout_3col-vertNav';
@import 'layout/_ga-wp';


.bgColorBrand1 {
	background-image: none !important;
	background-color: $colorGoldenAgentsYellow;
}

.bgColorBrand2 {
	background-image: none !important;
	background-color: $colorGoldenAgentsYGreen;
	color: #fff;
}

.bgColorBrand2 a{
	color: #fff;
}



.colorBgGrey{
	background-color: hsl(0, 0%, 96%) !important;
}

.hcBrandLogo img {
  height: 50px;
}

.hcPageHeaderSimple a {
	color: #000;
}


// custom components

// Header
.hcGaHeader{
	width: 100%;
	display: flex;

	> * {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
	}
}

.hcGaHeaderLogo{
	padding-left: 0;
}

.hcGaHeaderLogo img {
	width: auto;
	height: 65px;
}


.hcGaHeaderToolName{
	font-weight: 700;
	border-right: 1px solid rgba(0, 0, 0, 0.16);
}


.hcGaTabsLoudness1 a {
	color: $colorTxt;
	border-bottom: 3px solid #fff;
	margin-left: 1rem;

}
 // modal selection
.hcSelected {
	font-weight: 700;
	border-bottom: 3px solid $colorGoldenAgentsYGreen !important;

}

.hcSelectedListItem {
	background-color: $colorGoldenAgentsYGreen;
	font-weight: 700;
	color: #fff;
	padding-left: 1rem;
	margin-left: -1rem;

}



.hcleftMark{
	border-left: 5px solid $colorGoldenAgentsYGreen !important;
}

.hcMaxhalf {
	height: 40vh !important;
	overflow-y: scroll;
}

@media (min-width: 800px) {
	.hcMaxhalf {
		height: 80vh !important;
	}

	.hcSelectedExtend {
		margin-right: -2rem;
	}
}

//icons
$gaIconHeight: 1rem;

.hc-ga-icon {
	width: $gaIconHeight;
	height: $gaIconHeight;
	display: inline-block;
}

.hc-ga-icon-ds {
	background-color: #3793BB;
}

.hc-ga-icon-al {
	background-color: #FFAC4B;
}



// layout
// 122
.hcLayoutCols122 {
	display: flex;
	flex-direction: row;
}

.hcLayoutCols122 >* {
	flex: 2;

}

.hcLayoutCols122 >*:first-child {
	flex: 1;
}


//112
.hcLayoutCols112 {
	display: flex;
	flex-direction: row;
}

.hcLayoutCols112 >* {
	flex: 1;

}

.hcLayoutCols112 >*:last-child {
	flex: 3;
}






.hcVerticalLineSeperator >* {
	border-right: 1px solid #{$hcGrey15};
}
.hcVerticalLineSeperator >*:last-child{
	border-right: none;
}

.tempImg{
	width:auto;
	height:65vh;
}





// Search tool

.hcQBHeight {
	min-height: 45vh;
}

.hcSpitscreenGa {

}

.hcClearBg {
	background-image: none;

}

.hcBgWhite {
	background-color: #ffffff;
}


.hcMinimanFullViewport {
  min-width: 100vw;
  min-height: 100vh;

	display: flex;
	flex-direction: column;
}


.hcFlex1 {
	flex: 1;

}

@media (min-width: 1300px) {
	#hcGaPanelRight {
		max-width: 50vw;
	}
}

.hcGaPadLeft {
	margin-left: 0rem;
	padding-left: 0rem;
}


.hcGaProces{
	display: flex;
	flex-direction: column;

	>* {
		display: flex;
		flex-direction: row;
		padding: .5rem 0;
		border-bottom: 1px solid #d7d7d7;
		align-items: baseline;
	}

}


.hcTabContent .hcListDisctinctLines >*:nth-child(odd) {
  background-color: $hcGrey10;
}


.hcGaSce {
	display: flex;
	flex-direction: column;
}

.hcQBuildBlockBrowse .hc2columns {
	flex-basis: auto;
}

.gaSplitCol {
	flex-direction: column;
}


.dataTables_wrapper {

		>* {
			width: 100%;
			font-size: 15px;

		}

	table {
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: 100%;
		border-collapse: collapse;

		th {
			text-align: left;
		}


		td {
			white-space: nowrap;
			padding: .4rem;
			//border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		.odd {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}

		// search + download
	 .row:first-child{
		 display: flex;
		 justify-content: space-between;
		 flex-direction: row-reverse;
		 margin-bottom: 1rem;
	 }

	 .dataTables_filter label{
		 display: flex;
		 flex-direction: row;
		 justify-content: flex-start;
		 align-items: baseline;
	 }

		// amount + show # + pagination
	 .row:nth-child(2){
		 display: flex;
		 justify-content: space-between;
		 align-items: baseline;
		 flex-wrap: wrap;
		 margin-bottom: 1rem;


		 >*:nth-child(1) {// amount
			 order: 2;
			 width: 50%;
			 text-align: right;

			 select {
				 width: 70px;
			 }
		 }

		 >*:nth-child(2) {// info
			 order: 1;
			 width: 50%;
		}

		>*:nth-child(3) {// paging
			order: 3;
			width: 100%;
		}


		 .dataTables_length label{
			 display: flex;
			 flex-direction: row;
			 justify-content: flex-end;
			 align-items: baseline;
			 order: 3;
		 }

		 .dataTables_info {
			 order: 1;
			 width: 100%;

		 }






	 }

	 .row:nth-child(3){
		 overflow-y: auto;
	 }

	 .dataTables_paginate {
		 display: flex;
		 flex-direction: row;
		 justify-content: flex-start;
		 align-items: baseline;
		 order: 2;

		 a {
			 margin-right: .5rem;
			 cursor: pointer;
			 padding: .1rem .5rem;
		 }

		 .current {
			 background-color: $colorGoldenAgentsYellow;
				color: #000;
				border-radius: 2px;
		 }
	 }

}


.hcCardGaDataset {
	padding: 1.5rem;
	background-color: #fff;
	min-height: 150px;
	border-radius: $basicBorderRadius;
	box-shadow: 5px 5px 7px rgba(#000000, 0.2);

	h2 {
		font-size: 1.2rem;
		color: $hcGrey90;
	}
}
.hcCardGaDataset--float {
		transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
}

.hcCardGaDataset--float:hover {
		box-shadow: 5px 13px 10px rgba(#000000, 0.2);
		transform: translate(0, -8px);
}


.hcGaLayoutSplit {
	display: flex;
	flex-direction: column;
}


.hcGaLayoutSplit:before {
    content: "";
    border: 1px solid hsl(0, 0%, 91%);
    align-self: stretch;
}

.hcGaLayoutSplit {
	>*:first-child {
		order: -1;
	}
}


@media (min-width: 1000px) {
	.hcGaLayoutSplit {
		flex-direction: row;
		gap: 2rem;
		>* {
			flex: 1;
		}
	}
}


.hcGaIcon {
	height: .8rem;
	width: auto;
	margin-right: .4rem;
}

.hcGaIcon--big{
	height: 1.3rem;
}


.ga-searcChoiceLink {
	small {
		color: #3e3e3e;
	}

}

.listNoListItem {
	li {
		list-style: none;
	}
}


.ga3col {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 30px;

	>* {
		flex: 1;
	}
}


@media (min-width: 900px) {
	.ga3col {
		flex-direction: row;
	}
}

.gaListItemLong {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 30px;
	border-bottom: 1px solid hsl(0, 0%, 80%);

	.gaListItemLong__img {
		flex: 1;
		img{
			width: 100px;
			height: auto;
		}
	}

	.gaListItemLong__txt {
		flex-grow: 1
	}

	.gaListItemLong__link {
		flex: 1;
	}
}

@media (min-width: 900px) {
	.gaListItemLong {
		flex-direction: row;
	}
}


#colNav {
	align-self: start;
	margin-top: 4.5rem;
	padding-top: 2rem;
	padding-bottom: 5rem;
	border-radius: 3px;

	background-color: hsl(0, 0%, 95%);

	ul {
		margin: 0;
	}

	li {
		list-style: none;
		margin: 0;

		ul {
			margin-left: 1rem;
			margin-top: 0rem;
			margin-bottom: .5rem;
		}


	}

	a {
		color: $colorTxt;
	}

	.current-menu-item, .current_page_parent>a {
		font-weight: bold;
	}

	.menu-item-has-children >a::after {
		content: url(https://beta-golden-agents.diginfra.net/wp-content/themes/wp-golden-agents/images/icons/icon_arrow-down-small.png);

		display: inline-block;
		transform: translate(3px, -5px);
	}
}

.topMargin {
	margin-top: 10rem;
}

.papersList {

	li {
		list-style: none;
		margin-bottom: 2rem;
		margin-left: 0;
		border-bottom: 1px solid hsl(0, 0%, 90%);
		padding-bottom: 2rem;
	}

	.smll {
		font-size: .85rem;
	}


}

strong {
	font-weight: 700
}


.staffItems {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 40px;

	>* {
		flex: 1;
		text-align:center;
	}

	.staffAvatar img{
		width: 130px;
		height: auto;
		border-radius: 50%;

	}

	.smallGrey {
		font-size: .85rem;

	}
}

#colContentWide h2 {
	margin-top: 3rem;
}


.sticky-ll {
	position: sticky;
	top: 150px
}
