@import 'var';
@import 'color';

.bgColorBrand1 {
	background-image: none !important;
	background-color: $colorDutchPrizePapersGreen;
}

.bgColorBrand2 {
	background-image: none !important;
	background-color: $colorDutchPrizePapersBlue;
	color: #fff;
}

.bgColorBrand2 a{
	color: #fff;
}

a, h1 {
	color: $colorDutchPrizePapersBlue;
}

.colorBgGrey{
	background-color: rgba(#dfe9f1, 0.6) !important;
}

.hcBrandLogo img {
  height: 40px;
}


.hcKwic {
  border-bottom: 2px dotted #{$colorDutchPrizePapersBlue};
}

.hcPageHeaderSimple {
	nav a:hover {
		background-color:$colorDutchPrizePapersBlue;
		color: #fff;
	}
}
