@import 'var';
@import '_color-depricated';
@import '_color';

$colorGoldenAgentsYellow: #efc501;
$colorGoldenAgentsYGreen: #058f76;

.bgColorBrand1 {
	background-image: none !important;
	background-color: $colorGoldenAgentsYellow;
}

.bgColorBrand2 {
	background-image: none !important;
	background-color: $colorGoldenAgentsYGreen;
	color: #fff;
}

.bgColorBrand2 a{
	color: #fff;
}



.colorBgGrey{
	background-color: rgba(#075446, 0.05) !important;
}

.hcBrandLogo img {
  height: 50px;
}

.hcPageHeaderSimple a {
	color: #000;
}


// custom components

// Header
.hcGaHeader{
	width: 100%;
	display: flex;

	> * {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
	}
}

.hcGaHeaderLogo{
	padding-left: 0;
}

.hcGaHeaderLogo img {
	width: auto;
	height: 65px;
}


.hcGaHeaderToolName{
	font-weight: 700;
	border-right: 1px solid rgba(0, 0, 0, 0.16);
}


.hcGaTabsLoudness1 a {
	color: $colorTxt;
	border-bottom: 3px solid #fff;
	margin-left: 1rem;

}
 // modal selection
.hcSelected {
	font-weight: 700;
	border-bottom: 3px solid $colorGoldenAgentsYGreen !important;

}

.hcSelectedListItem {
	background-color: $colorGoldenAgentsYGreen;
	font-weight: 700;
	color: #fff;
	padding-left: 1rem;
	margin-left: -1rem;

}



.hcleftMark{
	border-left: 5px solid $colorGoldenAgentsYGreen !important;
}

.hcMaxhalf {
	height: 40vh !important;
	overflow-y: scroll;
}

@media (min-width: 800px) {
	.hcMaxhalf {
		height: 80vh !important;
	}

	.hcSelectedExtend {
		margin-right: -2rem;
	}
}

//icons
$gaIconHeight: 1rem;

.hc-ga-icon {
	width: $gaIconHeight;
	height: $gaIconHeight;
	display: inline-block;
}

.hc-ga-icon-ds {
	background-color: #3793BB;
}

.hc-ga-icon-al {
	background-color: #FFAC4B;
}



// layout
// 122
.hcLayoutCols122 {
	display: flex;
	flex-direction: row;
}

.hcLayoutCols122 >* {
	flex: 2;

}

.hcLayoutCols122 >*:first-child {
	flex: 1;
}


//112
.hcLayoutCols112 {
	display: flex;
	flex-direction: row;
}

.hcLayoutCols112 >* {
	flex: 1;

}

.hcLayoutCols112 >*:last-child {
	flex: 3;
}






.hcVerticalLineSeperator >* {
	border-right: 1px solid #{$hcGrey15};
}
.hcVerticalLineSeperator >*:last-child{
	border-right: none;
}

.tempImg{
	width:auto;
	height:65vh;
}





// Search tool

.hcQBHeight {
	min-height: 45vh;
}

.hcSpitscreenGa {

}

.hcClearBg {
	background-image: none;

}

.hcBgWhite {
	background-color: #ffffff;
}


.hcMinimanFullViewport {
  min-width: 100vw;
  min-height: 100vh;

	display: flex;
	flex-direction: column;
}


.hcFlex1 {
	flex: 1;
}

.hcGaPadLeft {
	margin-left: 0rem;
	padding-left: 0rem;
}


.hcGaProces{
	display: flex;
	flex-direction: column;

	>* {
		display: flex;
		flex-direction: row;
		padding: .5rem 0;
		border-bottom: 1px solid #d7d7d7;
		align-items: baseline;
	}

}


.hcTabContent .hcListDisctinctLines >*:nth-child(odd) {
  background-color: $hcGrey10;
}


.hcGaSce {
	display: flex;
	flex-direction: column;
}

.hcQBuildBlockBrowse .hc2columns {
	flex-basis: auto;
}
