@import 'var';
@import 'color';

$colorGoldenAgentsYellow: #efc501;
$colorGoldenAgentsYGreen: #075446;

.bgColorBrand1 {
	background-image: none !important;
	background-color: $colorGoldenAgentsYellow;
}

.bgColorBrand2 {
	background-image: none !important;
	background-color: $colorGoldenAgentsYGreen;
	color: #fff;
}

.bgColorBrand2 a{
	color: #fff;
}

a{
	color: $colorGoldenAgentsYGreen;
}

.colorBgGrey{
	background-color: rgba(#dfe9f1, 0.6) !important;
}

.hcBrandLogo img {
  height: 40px;
}
