@import 'var';
@import 'color';

$ColorBrand1 : #efc319;

.bgColorBrand1 {
	background-color: $ColorBrand1;
	color: #172854;
}

.bgColorBrand1 a{
	color: #172854;
}

.colorBgGrey{
	background-color: $colorHuygensGreyLight !important;
}

.hcFeedbackError {
  border-bottom: 3px solid $colorHuygensOrange !important;
}

.hcFeedbackSucces {
  border-bottom: 3px solid $colorHuygensGreen !important;
}

//


.hcEmplDataBlock {
	width: 100%;
}

.hcEmplacesItemHeader {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	h2 {
		font-size: 1.1rem;
	}
}

.hcEmplacesTitle {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

.hcEmplacesTitle > *{
	margin-right: .5rem;
}





.hcEmplHierarchy {
	ul, ul ul, ul ul ul, ul ul ul ul, ul ul ul ul ul, ul ul ul ul ul ul {
		margin-left: 0;
		list-style: none;
	}

	li:before {
  content: "+";
  padding-right: 8px;
  color: $colorGreyMid;
	}
}






.hcEmplList {
	display: flex;
	flex-direction: column;
}
.hcEmplListHeader, .hcEmplListRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hcEmplListHeader >*, .hcEmplListRow  >* {
	flex: 1;
	padding: .3rem;
}

.hcEmplListHeader {
	background-color: $colorGreyLightBg;
	font-weight: 700;
}





.hcEmplCalBar {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hcEmplCalBar >* {
	padding: 0 .2rem;
	color: rgba(0, 0, 0, 0.3);

}

.hcEmplCalBarLegend {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hcEmplCalMarker {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: auto;
	align-items: baseline;
	margin-bottom: -1.5rem;
}

.hcEmplTabBar {
	background-color: $colorGreyLightBg;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	.hcSelected {
		border-bottom: 3px solid $ColorBrand1;
	}
}

.hcEmplTabBar >*{
	margin-right: 1.5rem;
	cursor: pointer;
}

.hcEmplEmbedBox {
	min-height: 300px;
	border: 1px solid $colorGreyLightBg;
}
