@import 'var';
@import '_color-depricated';

.bgColorBrand1 {
	background-color: #082045;
	color: #fff;
}

.bgColorBrand1 a{
	color: #fff;
}

.colorBgGrey{
	background-color: $colorHuygensGreyLight !important;
}

.hcFeedbackError {
  border-bottom: 3px solid $colorHuygensOrange !important;
}

.hcFeedbackSucces {
  border-bottom: 3px solid $colorHuygensGreen !important;
}




/////

.hcFormDiv {
	border: 2px solid $colorHuygensGreyLight;
	padding: 2rem 1rem;

}


// innovating knowledge
.bgColorBrandIK {
	background-color: #d3d7e2;

	a{
		color: #2f404a;
	}
}


.hcSmallTxt {
	font-size: .9rem
}


.hcDataLabel {
	font-size: .9rem;
	font-weight: 700;
	margin-bottom: -.3rem;
}

.hcIKkImageBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $colorHuygensGreyLight;
	padding: 1rem;

	img {
		max-width: 500px;
	}
}

.hcIKheaderSplit {
	display: flex;
	flex-direction: column;
}

@media (min-width: 500px) {
	.hcIKheaderSplit {
		flex-direction: row;
	}
}


.hcIKresultCard {
	display: flex;
	flex-direction: column;
	background-color: $colorHuygensGreyLight;
	margin: -1rem;
	padding: 1rem;
}

.hcIKresultCardInfo {
	display: flex;
	flex-direction: column;
}

@media (min-width: 500px) {
	.hcIKresultCardInfo {
		flex-direction: row;

	}
}

.hcIKkImageBlockResult {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: $colorHuygensGreyLight;
	padding: .5rem;

	img {
		width: 100px;
		height: auto;
	}
}

.hcIKstate {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;


}

.hcIKstateLabelBlock {

	padding-right: .5rem;
	text-align: right;
}

.hcIKstateIconBlock {
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
}


.hcIKselectedFacet {
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
}

.hcIKselectedFacetItem {
	display: flex;
	flex-direction: row;
	font-size: .9rem;
	align-items: center;
	margin-left: 2rem;
}

.hcIKselectedFacetName {


}

.hcIKselectedFacetVal {
	padding: 0rem .3rem;
	background-color: rgb(228, 228, 228);
	border-radius: 3px;
	margin-left: .5rem;
}
