@import 'var';
@import 'color';

.bgColorBrand1 {
	background-image: none !important;
	background-color: $colorDutchPrizePapersGreen;
}

a, h1 {
	color: $colorDutchPrizePapersBlue;
}

.colorBgGrey{
	background-color: lighten($colorDutchPrizePapersBlue, 69) !important;
}

.hcBrandLogo img {
  height: 40px;
}


.hcKwic {
  border-bottom: 2px solid #{darken($colorDutchPrizePapersGreen, 30)};
}
