@import 'var';
@import 'color';


$colorGoldenAgentsYGreen: #075446;

$isebelPink: #C43851;

.bgColorBrand1 {
	background-image: none !important;
	background-color: $isebelPink;
}

.bgColorBrand2 {
	background-image: none !important;
	background-color: $isebelPink;
	color: #fff;
}

.bgColorBrand2 a{
	color: #fff;
}


.colorBgGrey{
	background-color: rgba(#075446, 0.05) !important;
}

.hcBrandLogo img {
  height: 50px;
}

.hcPageHeaderSimple a {
	color: #000;
}


.hcIsHeader{
	display: flex;
	flex-direction: row;
}

.hcIsHeaderLogo {
	width: 40px;
}

.hcIsHeaderLogo img{
	width: 100%;
	height:auto;
	margin-left: -2rem;
}

.hcIsHeaderToolName {
	color: $isebelPink;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2rem;
}
