@import 'var';
@import 'color';

.bgColorBrand1 {
	background-color: #082045;
	color: #fff;
}

.bgColorBrand1 a{
	color: #fff;
}

.colorBgGrey{
	background-color: $colorHuygensGreyLight !important;
}
