@import 'var';
@import '_color-depricated';

.bgColorBrand1 {
	background-color: #082045;
	color: #fff;
}

.bgColorBrand1 a{
	color: #fff;
}

.colorBgGrey{
	background-color: $colorHuygensGreyLight !important;
}

.hcFeedbackError {
  border-bottom: 3px solid $colorHuygensOrange !important;
}

.hcFeedbackSucces {
  border-bottom: 3px solid $colorHuygensGreen !important;
}




/////

.hcFormDiv {
	border: 2px solid $colorHuygensGreyLight;
	padding: 2rem 1rem;

}
