@import 'var';
@import 'color';

.bgColorBrand1 {
	background-image: none !important;
	background-color: $colorDutchPrizePapersGreen;
}

.bgColorBrand2 {
	background-image: none !important;
	background-color: $colorDutchPrizePapersBlue;
	color: #fff;
}

.bgColorBrand2 a{
	color: #fff;
}

a, h1, h2{
	color: $colorDutchPrizePapersBlue;
}

.colorBgGrey{
	background-color: rgba(#dfe9f1, 0.6) !important;
}

.hcBrandLogo img {
  height: 40px;
}


.hcKwic {
  border-bottom: 2px dotted #{$colorDutchPrizePapersBlue};
}

.hcPageHeaderSimple {
	nav a:hover {
		background-color:$colorDutchPrizePapersBlue;
		color: #fff;
	}
}

.hcThumbnailBgColor {
	background-color: #3b3b3b;
}

// site specific classes

.hcDPPHeroBg {
	background-image: url(../images/dpp/dpp-bg.png) !important;
	background-size: contain;
	background-position: center bottom;
}

@media screen and (orientation:portrait) {
	.hcDPPHeroBg {
		background-size: cover;
	}
 }

 .hcDppHeroSearch {
	min-height: 200px;
	 max-height: 300px;
	 align-self: center;
	 background-color:$colorDutchPrizePapersBlue;
	 color: #fff;
	 padding: 4rem 2rem;
	 border-radius: 5px;

	 button {
		 width: 100%;
		 background-color: #fff;
		 color: $colorDutchPrizePapersBlue;
		 padding: 1rem;
		 font-size: 1.2rem;
		 margin-top: 1rem;
	 }
 }
