@import 'var';
@import 'color';

.bgColorBrand1 {
	background-color: #efc319;
	color: #172854;
}

.bgColorBrand1 a{
	color: #172854;
}

.colorBgGrey{
	background-color: $colorHuygensGreyLight !important;
}

.hcFeedbackError {
  border-bottom: 3px solid $colorHuygensOrange !important;
}

.hcFeedbackSucces {
  border-bottom: 3px solid $colorHuygensGreen !important;
}

//


.hcEmplDataBlock {
	width: 100%;
}

.hcEmplacesItemHeader {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	h2 {
		font-size: 1.1rem;
	}
}

.hcEmplacesTitle {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

.hcEmplacesTitle > *{
	margin-right: 1rem;
}





.hcEmplHierarchy {
	ul, ul ul, ul ul ul, ul ul ul ul, ul ul ul ul ul, ul ul ul ul ul ul {
		margin-left: 0;
		list-style: none;
	}

	li:before {
  content: "+";
  padding-right: 8px;
  color: $colorGreyMid;
	}
}






.hcEmplList {
	display: flex;
	flex-direction: column;
}
.hcEmplListHeader, .hcEmplListRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hcEmplListHeader >*, .hcEmplListRow  >* {
	flex: 1;
	padding: .3rem;
}

.hcEmplListHeader {
	background-color: $colorGreyLightBg;
	font-weight: 700;
}





.hcEmplCalBar {
	width: 100%;
	border: 1px solid $colorGreyMid;
}
.hcEmplCalBarFill {
	height: 10px;
}

.hcEmplCalBarLegend {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hcEmplCalMarker {
	margin-bottom: -.85rem;
}
